{% extends 'base.html.twig' %} {% block title %} L'agence Hafo Web Solutions {%
endblock %} {% block body %}

<!-- Agency -->
<section>
  <!-- Header -->
  <div
    class="default-mt default-container pb-[80px] lg:pb-[100px] nav-min:px-4 sm:container"
  >
    <h1
      class="default-h responsive-h1 text-center"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="150"
    >
      Agence web Hafo Web Solutions
    </h1>
    <p
      class="default-bp mt-3 text-center"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      Équipes dédiées. pour des rêves déterminés
    </p>
    <p
      class="default-p mt-5 text-center lg:px-[150px] xl:px-[250px] 2xl:px-[350px]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="250"
    >
      Chez Hafo Web Solutions, nous croyons en l'importance de l'innovation et
      de l'approche sur-mesure. Notre équipe travaille sans relâche pour
      transformer vos idées en solutions web performantes et adaptées à vos
      besoins spécifiques. Découvrez notre expertise et notre approche
      collaborative.
    </p>
  </div>

  <!-- Image -->
  <div class="2xl:container-fluid 2xl:px-[140px]">
    <img
      class="w-full object-cover h-[560px]"
      src="{{ asset('./image/about.webp') }}"
      alt="image agence"
    />
  </div>

  <!-- Content -->
  <div class="default-container nav-min:px-4 sm:container">
    <!-- Block Inovation -->
    <div class="lg:grid lg:grid-cols-2 lg:gap-10">
      <div>
        <div
          class="default-container default-border relative py-12 px-10 bg-quaternary mt-[-128px] sm:container lg:sticky lg:top-[185px] xl:mb-0"
        >
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Innovation et sur-mesure
          </h2>
          <p
            class="default-p my-3 mb-10"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="200"
          >
            L'innovation est au cœur de notre approche. Nous construisons des
            sites web sur-mesure, alliant technologie avancée et créativité,
            pour répondre à vos besoins précis. Chaque projet est une nouvelle
            aventure où vos idées prennent forme.
          </p>
          <a
            href="{{ path('app_contact') }}"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="250"
            ><button class="darkBlue-button">
              Découvrez nos expertises
            </button></a
          >
        </div>
      </div>

      <div class="default-mt">
        <!-- Block Our Values -->
        <div>
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Nos valeurs
          </h2>
          <ul class="default-p bullet-point">
            <li
              class="mb-4 pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="200"
            >
              <strong>Innovation Continue</strong><br />Nous intégrons les
              dernières technologies pour offrir des solutions innovantes.
            </li>
            <li
              class="mb-4 pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="250"
            >
              <strong> Transparence et Intégrité</strong><br />Chaque étape de
              votre projet est réalisée avec transparence et intégrité.
            </li>
            <li
              class="pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="300"
            >
              <strong> Approche Centrée sur le Client </strong><br />Votre
              satisfaction est notre priorité. Nous collaborons étroitement avec
              vous pour comprendre et répondre à vos besoins.
            </li>
          </ul>
        </div>

        <!-- Block Expertise Collaborative -->
        <div class="default-mt default-border py-12 px-10">
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Expertise Collaborative
          </h2>
          <p
            class="default-p md:my-0 md:mb-0"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="200"
          >
            L'expertise se démontre par l'action. Nous privilégions une approche
            collaborative, travaillant main dans la main avec vous pour créer
            une présence en ligne distincte. Notre engagement ? Une qualité
            irréprochable et une écoute attentive pour des solutions qui
            correspondent à votre marché.
          </p>
        </div>
      </div>
    </div>

    <!-- Block Collaboration -->
    <div
      class="default-mt lg:items-center lg:gap-10 lg:mt-100 lg:grid lg:grid-cols-2"
    >
      <h2
        class="default-h responsive-h2 mb-8 lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="150"
      >
        Collaboration et transformation numérique
      </h2>
      <p
        class="default-p default-border p-6"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="150"
      >
        Dans un monde numérique en constante évolution, nous restons agiles et
        réactifs pour vous offrir des solutions optimales. Notre déquipe
        dynamique s'adapte à vos besoins en temps réel, assurant une mise en
        œuvre rapide et efficace pour que votre projet numérique prospère.
      </p>
    </div>
  </div>

  <!-- Component CTA -->
  <!-- Content -->
  {% set content %} Contactez-nous dès maintenant pour discuter de vos besoins
  et obtenir une estimation précise.
  <span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
  {% endset %}
  <!-- CTA -->
  {% include "./components/cta.html.twig" %}

  <!-- Component Blog -->
  {% include "./components/blog.html.twig" %}
</section>
{% endblock %}
