{% extends 'base.html.twig' %} {% block title %} Hafo Web Solutions : Experts en
développement Symfony, Docker et PostgreSQL {% endblock %} {% block description
%} Découvrez Hafo Web Solutions, experts en développement web avec Symfony,
Docker et PostgreSQL. Nous offrons des solutions digitales sur mesure pour vos
projets en ligne. {% endblock %} {% block body %}

<!-- Agency -->
<section>
  <!-- Header -->
  <div
    class="default-mt default-container pb-[80px] lg:pb-[100px] nav-min:px-4 sm:container"
  >
    <h1
      class="default-h responsive-h1 text-center"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="150"
    >
      Hafo Web Solutions
    </h1>
    <p
      class="default-bp mt-3 text-center"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      Experts en développement web et conception sur mesure
    </p>
    <p
      class="default-p mt-5 text-center lg:px-[150px] xl:px-[250px] 2xl:px-[350px]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="250"
    >
      Chez Hafo Web Solutions, nous transformons vos idées en solutions web
      performantes. Grâce à notre expertise, nous garantissons la réussite de
      vos projets digitaux. Nous combinons créativité et compétences techniques
      pour concevoir des sites web qui répondent à vos besoins et objectifs avec
      précision.
    </p>
  </div>

  <!-- Image -->
  <div class="2xl:container-fluid 2xl:px-[140px]">
    <img
      class="w-full object-cover h-[560px]"
      src="{{ asset('./image/about.webp') }}"
      alt="image agence"
    />
  </div>

  <!-- Content -->
  <div class="default-container nav-min:px-4 sm:container">
    <!-- Work with us -->
    <div class="lg:grid lg:grid-cols-2 lg:gap-10">
      <div>
        <div
          class="default-container default-border relative py-12 px-10 bg-quaternary mt-[-128px] sm:container lg:sticky lg:top-[185px] xl:mb-0"
        >
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Travaillez avec nous
          </h2>
          <p
            class="default-p my-3 mb-10"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="200"
          >
            Que ce soit pour un site web sur mesure, de la maintenance ou une
            refonte, notre équipe vous accompagne. Nous offrons des solutions
            adaptées à vos besoins, alliant expertise technique et créativité,
            pour transformer vos idées en réussite.
          </p>
          <a
            href="{{ path('app_contact') }}"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="250"
            ><button class="darkBlue-button">Contactez-nous</button></a
          >
        </div>
      </div>

      <div class="default-mt">
        <!-- Our Values -->
        <div>
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Nos valeurs
          </h2>
          <ul class="default-p bullet-point">
            <li
              class="mb-4 pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="200"
            >
              <strong>Innovation :</strong> Nous utilisons les dernières
              technologies pour créer des solutions innovantes et évolutives,
              parfaitement adaptées à vos besoins.
            </li>
            <li
              class="mb-4 pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="250"
            >
              <strong>Qualité :</strong> Chaque projet est réalisé avec rigueur
              et soin, garantissant des résultats durables et de haute qualité.
            </li>
            <li
              class="pl-5 relative"
              data-sal="slide-up"
              data-sal-duration="800"
              data-sal-selay="300"
            >
              <strong>Transparence :</strong> Nous assurons une communication
              claire et honnête, favorisant une collaboration basée sur la
              confiance tout au long du projet.
            </li>
          </ul>
        </div>

        <!-- Our Vision -->
        <div class="default-mt default-border py-12 px-10">
          <h2
            class="default-h responsive-h2 mb-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Notre vision
          </h2>
          <p
            class="default-p md:my-0 md:mb-0"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="200"
          >
            Nous croyons en la création de solutions web qui non seulement
            répondent aux besoins actuels, mais qui sont également prêtes pour
            l'avenir. Notre objectif est de devenir votre partenaire de
            confiance pour tout ce qui concerne le web.
          </p>
        </div>
      </div>
    </div>

    <!-- Why Hafo -->
    <div
      class="default-mt lg:items-center lg:gap-10 lg:mt-100 lg:grid lg:grid-cols-2"
    >
      <h2
        class="default-h responsive-h2 mb-8 lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="150"
      >
        Pourquoi choisir Hafo Web Solutions ?
      </h2>
      <p
        class="default-p default-border p-6"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="150"
      >
        Avec une expertise en Symfony et une approche centrée sur le client,
        nous offrons des solutions personnalisées qui répondent précisément aux
        besoins de chaque projet. Nous sommes dévoués à fournir des résultats
        exceptionnels.
      </p>
    </div>

    <!-- Our Team -->
    <div class="default-mt">
      <div class="flex flex-col xl:flex-row gap-x-8 gap-y-8">
        <div class="w-full lg:mx-0 xl:w-1/3">
          <h2
            class="default-h responsive-h2"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            Rencontrez notre équipe
          </h2>
          <p
            class="default-p mt-5"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="200"
          >
            Nous sommes un groupe engagé et passionné, dédié à offrir les
            meilleurs résultats pour nos clients.
          </p>
        </div>
        <ul
          role="list"
          class="flex w-full sm:w-4/5 md:w-full lg:justify-center flex-col md:flex-row xl:w-2/3 sm:mx-auto gap-x-6 gap-y-8 lg:mx-0 lg:gap-x-8 xl:col-span-2"
        >
          <li
            class="lg:w-1/3 xl:w-full"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            <img
              class="aspect-[3/2] w-full rounded-2xl object-cover"
              src="{{ asset('./image/team/lucas.svg') }}"
              alt=""
            />
            <h3 class="default-h responsive-h3 mt-5">Lucas Hatron</h3>
            <p class="text-base leading-7 text-secondary">
              Lead Concepteur - Développeur Full Stack
            </p>
            <p class="default-p mt-4">
              Lucas, titulaire d'un Bac+2 en Développement Web et Web Mobile,
              ainsi qu'un Bac+3 en Conception et Développement d'Applications,
              est spécialisé en Symfony. Pianiste passionné et lecteur assidu de
              sciences, il s'investit dans tous les aspects du web, alliant
              créativité et expertise technique.
            </p>
            <ul role="list" class="mt-5 flex gap-x-6">
              <li>
                <a
                  href="https://github.com/Lucas-HAFO"
                  target="_blank"
                  class="flex items-center justify-center duration-300 ease-in-out stroke-grayText hover:stroke-white"
                >
                  <svg
                    width="15"
                    height="18"
                    viewBox="0 0 15 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.70388 17V14.7251L5.73381 13.1084C5.76976 12.6054 5.96571 12.1314 6.28809 11.7644C6.29281 11.759 6.29756 11.7537 6.30234 11.7484C6.31478 11.7345 6.30659 11.7121 6.28809 11.7098C4.13384 11.4409 1.88936 10.5313 1.88936 6.5711C1.87532 5.59574 2.19354 4.6502 2.78169 3.90858C2.80227 3.88264 2.82317 3.85694 2.8444 3.83151C2.87204 3.7984 2.88108 3.75353 2.86842 3.7123C2.86765 3.7098 2.86688 3.7073 2.86612 3.70479C2.85176 3.65769 2.83829 3.61037 2.8257 3.56285C2.6095 2.74644 2.65598 1.87434 2.96027 1.08727C2.96251 1.08146 2.96477 1.07565 2.96705 1.06985C2.97841 1.04088 3.00226 1.01874 3.0329 1.01327C3.22393 0.979209 3.9959 0.933636 5.47379 1.95419C5.51979 1.98595 5.56646 2.01875 5.61383 2.0526C5.64804 2.07705 5.69153 2.08454 5.73197 2.07303L5.7358 2.07194C5.81513 2.04939 5.89468 2.02799 5.9744 2.00773C7.37923 1.6509 8.84305 1.6509 10.2478 2.00773C10.3235 2.02693 10.3989 2.04717 10.4742 2.06844L10.479 2.06983C10.5266 2.08331 10.5777 2.07451 10.618 2.0458C10.6621 2.01435 10.7055 1.98381 10.7485 1.95419C12.2229 0.935787 12.9906 0.979022 13.1825 1.01306C13.2137 1.0186 13.2381 1.04114 13.2498 1.07063C13.2513 1.07443 13.2527 1.07821 13.2542 1.08201C13.5637 1.86943 13.6128 2.74413 13.3965 3.56285C13.3836 3.61165 13.3697 3.66027 13.355 3.70865C13.3416 3.75216 13.3512 3.79948 13.3803 3.83444L13.383 3.83773C13.4025 3.86113 13.4217 3.88475 13.4406 3.90858C14.0287 4.6502 14.347 5.59574 14.3329 6.5711C14.3329 10.5529 12.0725 11.4387 9.90794 11.68C9.89541 11.6813 9.8898 11.6964 9.89825 11.7057C9.90145 11.7092 9.90474 11.7128 9.90794 11.7164C10.1263 11.9596 10.2958 12.2484 10.4054 12.5647C10.5201 12.8955 10.5668 13.2486 10.5423 13.6004V17"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 13.4443C1.32813 13.4908 1.64141 13.6117 1.91613 13.7977C2.19084 13.9837 2.41979 14.2299 2.5856 14.5179C2.7265 14.7743 2.91645 15.0002 3.14457 15.1827C3.37268 15.3652 3.63448 15.5008 3.91492 15.5815C4.19536 15.6623 4.48892 15.6866 4.77877 15.6532C5.06862 15.6199 5.34905 15.5294 5.60396 15.387"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/lucas-hatron-0b1400251/"
                  target="_blank"
                  class="flex items-center justify-center duration-300 ease-in-out stroke-grayText hover:stroke-white"
                >
                  <svg
                    class=""
                    width="18"
                    height="17"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.2 5.7998C13.4731 5.7998 14.694 6.30552 15.5941 7.20569C16.4943 8.10587 17 9.32677 17 10.5998V16.1998H13.8V10.5998C13.8 10.1755 13.6315 9.76849 13.3314 9.46843C13.0313 9.16838 12.6244 8.9998 12.2 8.9998C11.7757 8.9998 11.3687 9.16838 11.0687 9.46843C10.7686 9.76849 10.6 10.1755 10.6 10.5998V16.1998H7.40002V10.5998C7.40002 9.32677 7.90574 8.10587 8.80591 7.20569C9.70609 6.30552 10.927 5.7998 12.2 5.7998Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M4.2 6.6001H1V16.2001H4.2V6.6001Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.6 4.2C3.48366 4.2 4.2 3.48366 4.2 2.6C4.2 1.71634 3.48366 1 2.6 1C1.71634 1 1 1.71634 1 2.6C1 3.48366 1.71634 4.2 2.6 4.2Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li
            class="lg:w-1/3 xl:w-full"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-selay="150"
          >
            <img
              class="aspect-[3/2] w-full rounded-2xl object-cover"
              src="{{ asset('./image/team/cedric.svg') }}"
              alt=""
            />
            <h3 class="default-h responsive-h3 mt-5">Cédric Fonsat</h3>
            <p class="text-base leading-7 text-secondary">
              Lead Développeur - Développeur Full Stack
            </p>
            <p class="default-p mt-4">
              Cédric, titulaire d'un Bac+2 en Développement Web et Web Mobile,
              ainsi qu'un Bac+3 en Conception et Développement d'Applications,
              est spécialisé en Symfony. Passionné de football et véritable
              fanatique du développement web, il consacre son expertise à créer
              des solutions performantes.
            </p>
            <ul role="list" class="mt-5 flex gap-x-6">
              <li>
                <a
                  href="https://github.com/CedricFonsat"
                  target="_blank"
                  class="flex items-center justify-center duration-300 ease-in-out stroke-grayText hover:stroke-white"
                >
                  <svg
                    width="15"
                    height="18"
                    viewBox="0 0 15 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.70388 17V14.7251L5.73381 13.1084C5.76976 12.6054 5.96571 12.1314 6.28809 11.7644C6.29281 11.759 6.29756 11.7537 6.30234 11.7484C6.31478 11.7345 6.30659 11.7121 6.28809 11.7098C4.13384 11.4409 1.88936 10.5313 1.88936 6.5711C1.87532 5.59574 2.19354 4.6502 2.78169 3.90858C2.80227 3.88264 2.82317 3.85694 2.8444 3.83151C2.87204 3.7984 2.88108 3.75353 2.86842 3.7123C2.86765 3.7098 2.86688 3.7073 2.86612 3.70479C2.85176 3.65769 2.83829 3.61037 2.8257 3.56285C2.6095 2.74644 2.65598 1.87434 2.96027 1.08727C2.96251 1.08146 2.96477 1.07565 2.96705 1.06985C2.97841 1.04088 3.00226 1.01874 3.0329 1.01327C3.22393 0.979209 3.9959 0.933636 5.47379 1.95419C5.51979 1.98595 5.56646 2.01875 5.61383 2.0526C5.64804 2.07705 5.69153 2.08454 5.73197 2.07303L5.7358 2.07194C5.81513 2.04939 5.89468 2.02799 5.9744 2.00773C7.37923 1.6509 8.84305 1.6509 10.2478 2.00773C10.3235 2.02693 10.3989 2.04717 10.4742 2.06844L10.479 2.06983C10.5266 2.08331 10.5777 2.07451 10.618 2.0458C10.6621 2.01435 10.7055 1.98381 10.7485 1.95419C12.2229 0.935787 12.9906 0.979022 13.1825 1.01306C13.2137 1.0186 13.2381 1.04114 13.2498 1.07063C13.2513 1.07443 13.2527 1.07821 13.2542 1.08201C13.5637 1.86943 13.6128 2.74413 13.3965 3.56285C13.3836 3.61165 13.3697 3.66027 13.355 3.70865C13.3416 3.75216 13.3512 3.79948 13.3803 3.83444L13.383 3.83773C13.4025 3.86113 13.4217 3.88475 13.4406 3.90858C14.0287 4.6502 14.347 5.59574 14.3329 6.5711C14.3329 10.5529 12.0725 11.4387 9.90794 11.68C9.89541 11.6813 9.8898 11.6964 9.89825 11.7057C9.90145 11.7092 9.90474 11.7128 9.90794 11.7164C10.1263 11.9596 10.2958 12.2484 10.4054 12.5647C10.5201 12.8955 10.5668 13.2486 10.5423 13.6004V17"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1 13.4443C1.32813 13.4908 1.64141 13.6117 1.91613 13.7977C2.19084 13.9837 2.41979 14.2299 2.5856 14.5179C2.7265 14.7743 2.91645 15.0002 3.14457 15.1827C3.37268 15.3652 3.63448 15.5008 3.91492 15.5815C4.19536 15.6623 4.48892 15.6866 4.77877 15.6532C5.06862 15.6199 5.34905 15.5294 5.60396 15.387"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/cedric-fonsat/"
                  target="_blank"
                  class="flex items-center justify-center duration-300 ease-in-out stroke-grayText hover:stroke-white"
                >
                  <svg
                    class=""
                    width="18"
                    height="17"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.2 5.7998C13.4731 5.7998 14.694 6.30552 15.5941 7.20569C16.4943 8.10587 17 9.32677 17 10.5998V16.1998H13.8V10.5998C13.8 10.1755 13.6315 9.76849 13.3314 9.46843C13.0313 9.16838 12.6244 8.9998 12.2 8.9998C11.7757 8.9998 11.3687 9.16838 11.0687 9.46843C10.7686 9.76849 10.6 10.1755 10.6 10.5998V16.1998H7.40002V10.5998C7.40002 9.32677 7.90574 8.10587 8.80591 7.20569C9.70609 6.30552 10.927 5.7998 12.2 5.7998Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M4.2 6.6001H1V16.2001H4.2V6.6001Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.6 4.2C3.48366 4.2 4.2 3.48366 4.2 2.6C4.2 1.71634 3.48366 1 2.6 1C1.71634 1 1 1.71634 1 2.6C1 3.48366 1.71634 4.2 2.6 4.2Z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Component CTA -->
  <!-- Content -->
  {% set content %} Contactez-nous dès maintenant pour discuter de vos besoins
  et obtenir une estimation précise.
  <span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
  {% endset %}
  <!-- CTA -->
  {% include "./components/cta.html.twig" %}

  <!-- Component Blog -->
  {% include "./components/blog.html.twig" %}
</section>
{% endblock %}
