{% extends 'base.html.twig' %} {% block title %} Mentions légales du site {%
endblock %} {% block description %} Lisez nos mentions légales pour obtenir des
informations sur l'éditeur du site, l'hébergeur, la protection des données
personnelles, et les conditions d'utilisation {% endblock %} {% block body %}
<section
  class="mt-[80px] lg:mt-[100px] w-full flex flex-col justify-center items-center"
>
  <!-- Content Mentions légales -->
  <article
    class="flex w-full justify-center lg:default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <div class="lg:w-1/2 px-8 lg:px-0">
      <h1
        class="default-h responsive-h1 text-center"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Mentions Légales
      </h1>
      <h2
        class="default-mt default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Éditeur du site
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le site est co-édité par Hafo Web Solutions et Code Frie, deux
        entreprises indépendantes en micro-entrepreneuriat.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Hafo Web Solutions
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Adresse : 14 Chemin des Aires, 13720 La Bouilladisse <br />
        Téléphone : +33 4 85 69 49 56 <br />
        Email : lucas@hafowebsolutions.fr <br />
        SIRET : 92805544100010 <br />
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Code Frie
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Adresse : 15 Rue du Marché, 13015 Marseille <br />
        Téléphone : +33 4 85 69 50 11 <br />
        Email : cedric@hafowebsolutions.fr <br />
        SIRET : 90442007200020 <br />
      </p>

      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Directeurs de la publication
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Lucas Hatron et Cédric Fonsat.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Hébergeur du site
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Nom : <br />
        Adresse : <br />
        Téléphone : <br />
        Email : <br />
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Utilisateurs
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Tout internaute qui navigue, lit, visionne et utilise le site web.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Protection des données personnelles
      </h2>
      <p
        class="default-p mt-3 mb-4"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        La confidentialité et la sécurité des données des utilisateurs sont
        primordiales. Les données collectées sont uniquement utilisées pour les
        services proposés et ne sont partagées qu'avec des tiers lorsque c'est
        strictement nécessaire.
      </p>
      <ul class="default-p bullet-point 8 lg:ml-4">
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          <span class="text-white font-bold">Droits des utilisateurs : </span
          >Les utilisateurs disposent d'un droit d'accès, de modification, de
          rectification, de suppression de leurs données personnelles, et
          peuvent émettre des directives sur le sort de leurs données après leur
          décès.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          <span class="text-white font-bold">Responsable des données : </span
          >Pour exercer ces droits ou pour toute question relative à la gestion
          des données personnelles, veuillez contacter les éditeurs aux adresses
          fournies.
        </li>
      </ul>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Transfert des données
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Les données peuvent être transférées hors de l'Union Européenne mais
        uniquement vers des pays assurant un niveau adéquat de protection des
        données.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Liens vers d’autres sites
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le site peut contenir des liens vers d’autres sites ou sources Internet
        pour lesquels les co-éditeurs ne sont pas responsables du contenu ou de
        la disponibilité.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Loi applicable et juridiction
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Les présentes Mentions Légales sont régies par la loi française. Tout
        litige sera soumis aux tribunaux compétents français.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Contact
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Pour tout signalement ou questions, les utilisateurs peuvent contacter
        les éditeurs via les adresses emails fournies ou par courrier recommandé
        à l'adresse postale mentionnée.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Cookies et suivi
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le site utilise des cookies pour améliorer l'expérience utilisateur et
        analyser le trafic. En utilisant ce site, vous acceptez l'utilisation
        des cookies. Vous pouvez configurer votre navigateur pour refuser les
        cookies, mais cela pourrait affecter certaines fonctionnalités du site.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Conditions d'utilisation
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        En utilisant ce site, les utilisateurs acceptent les conditions
        d'utilisation décrites ici. Ils s'engagent à ne pas utiliser le site à
        des fins illégales ou nuisibles.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Procédure de réclamation
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Pour toute réclamation ou litige, veuillez contacter les éditeurs. Une
        tentative de résolution à l'amiable sera privilégiée avant toute
        procédure judiciaire.
      </p>
    </div>
  </article>
</section>

{% endblock %}
