{% extends 'base.html.twig' %} {% block title %} Conditions générales de vente
{% endblock %} {% block description %} Consultez nos Conditions Générales de Vente
pour comprendre les termes et conditions de nos services. Nous vous offrons une
transparence totale sur nos pratiques commerciales. {% endblock %} {% block body
%}
<section
  class="mt-[80px] lg:mt-[100px] w-full flex flex-col justify-center items-center"
>
  <!-- Content Conditions Générales de Vente et de Prestation de Services -->
  <article
    class="flex w-full justify-center lg:default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <div class="lg:w-1/2 px-8 lg:px-0">
      <h1
        class="default-h responsive-h1 text-center"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Conditions générales de vente
      </h1>
      <h2
        class="default-h default-mt responsive-h3 mb-10"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Conditions générales de vente et de prestation de services s’appliquant
        aux services de l’agence Hafo Web Solutions et CodeFrie
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Les présentes conditions générales régissent les services proposés par
        Hafo Web Solutions et CodeFrie, deux entités en micro-entrepreneuriat
        collaborant pour fournir des services de conception et de développement
        web.
      </p>
      <p
        class="text-grayText mt-3 mb-8 leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <span class="italic">Mise à jour le</span> : 08.08.2024
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 1 - Définitions
      </h2>
      <ul class="default-p bullet-point mt-3 mb-8">
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          <span class="font-bold text-white"
            >Hafo Web Solutions et CodeFrie :</span
          >
          Désignent les entités collaborant sous le régime de la
          micro-entreprise, offrant des services de développement et de conseil
          en technologies web.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          <span class="font-bold text-white">Client :</span> Désigne tout
          individu ou entité ayant établi un accord avec Hafo Web Solutions
          et/ou CodeFrie.
        </li>
      </ul>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 2 - Procédure contractuelle
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le contrat prend effet à la signature du devis, sous format papier ou
        électronique. L'acceptation du devis par le Client implique une
        acceptation sans réserve des présentes Conditions Générales de Vente et
        de Prestation de Services.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 3 - Élaboration du devis
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le devis est élaboré sur la base des indications fournies par le Client.
        Le Client doit fournir un brief écrit des attentes pour assurer que
        toutes les exigences sont bien comprises et intégrées dans le devis
        final.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 4 - Devis et proposition de services
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        La proposition de services devient définitive à l'acceptation du Client
        et est limitée à la durée de validité du devis. Hafo Web Solutions et
        CodeFrie sont tenues à une obligation de conseil et doivent informer le
        Client de tout incident pouvant affecter la prestation.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 5 - Conditions d'utilisation des services
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Une fois le paiement intégral effectué, les droits de propriété
        intellectuelle relatifs aux travaux accomplis seront transférés au
        Client. Les livrables doivent être validés par le Client, et toute
        modification post-validation peut entraîner des coûts supplémentaires.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 6 - Obligations et responsabilités du Client
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le Client doit collaborer activement et fournir toutes les informations
        nécessaires à la bonne réalisation du projet. Le Client reste
        responsable des décisions prises et des informations fournies.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 7 - Respect de la loi par le Client
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Le Client est responsable du contenu publié sur son site internet et
        garantit la légalité de ses activités. Il doit également respecter les
        droits des tiers et les régulations applicables.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 8 - Traitement des données
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Les données personnelles seront traitées en conformité avec la
        législation en vigueur. Hafo Web Solutions et CodeFrie agiront en tant
        que sous-traitants et respecteront les directives du Client concernant
        le traitement des données.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 9 - Maintenance et hébergement
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Des forfaits de maintenance peuvent être proposés pour assurer la
        performance optimale des services. Hafo Web Solutions et CodeFrie
        peuvent également proposer des solutions d’hébergement en collaboration
        avec des partenaires tiers.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 10 - Tarifs et modalités de paiement
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Les tarifs des services sont indiqués dans le devis. Sauf mention
        contraire, les paiements sont dus à la réception de la facture. En cas
        de retard de paiement, des pénalités peuvent être appliquées.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 11 - Confidentialité
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Hafo Web Solutions et CodeFrie s'engagent à respecter la confidentialité
        des informations fournies par le Client et à ne pas les divulguer à des
        tiers sans autorisation préalable.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 12 - Force majeure
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Hafo Web Solutions et CodeFrie ne peuvent être tenues responsables des
        retards ou des manquements à leurs obligations résultant de
        circonstances indépendantes de leur volonté.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 13 - Résiliation
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        En cas de manquement par l'une des parties à ses obligations
        contractuelles, le contrat peut être résilié par l'autre partie après
        mise en demeure restée sans effet pendant 30 jours.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 14 - Mise à jour des conditions générales
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Hafo Web Solutions et CodeFrie se réservent le droit de modifier les
        présentes conditions générales à tout moment. Les clients seront
        informés des modifications via email ou notification sur le site.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 15 - Accord de niveau de service (SLA)
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Nous garantissons des niveaux de service définis pour chaque projet,
        incluant la disponibilité, la performance et les délais de réponse. Ces
        niveaux sont convenus avec le Client avant le début du projet.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 16 - Clause de réclamation
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        En cas de non-conformité des services rendus, le Client dispose de 15
        jours pour soumettre une réclamation. Hafo Web Solutions et CodeFrie
        s'engagent à répondre et à résoudre les problèmes dans les meilleurs
        délais.
      </p>
      <h2
        class="default-h responsive-h3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Article 17 - Loi applicable et juridiction
      </h2>
      <p
        class="default-p mt-3 mb-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Ces Conditions Générales sont régies par le droit français. En cas de
        litige, une tentative de conciliation sera priorisée avant toute
        procédure judiciaire, qui serait alors soumise aux tribunaux compétents
        français.
      </p>
    </div>
  </article>
</section>

{% endblock %}
