{% extends 'base.html.twig' %} {% block title %} Definir vos objectifs - Hafo
Web Solutions {% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("define") }}
{% endblock %} {% block body %}

<section class="default-mt flex flex-col justify-center items-center w-full">
  <!-- Header -->
  <article
    class="flex flex-col w-full gap-10 sm:container lg:flex-row lg:default-container"
  >
    <div class="px-8 lg:px-0 lg:w-1/2">
      <h1
        class="default-h responsive-h1 mb-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Définir vos objectifs
      </h1>
      <p
        class="default-bp mt-[10px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Listez vos besoins pour un projet réussi
      </p>
      <p
        class="default-p mt-[20px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Utilisez cet outil pour nous aider à comprendre vos besoins spécifiques
        en matière de création de site web, maintenance, SEO ou refonte. En
        remplissant ce formulaire, vous pourrez générer un document PDF
        récapitulatif à nous transmettre pour une analyse précise et
        personnalisée de votre projet.
      </p>
    </div>
    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/support/define.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- Content -->
  <div
    class="default-container flex flex-col w-full mt-[-100px] sm:container lg:gap-10 lg:flex-row lg:mt-0"
  >
    <!-- Block tool -->
    <article class="lg:w-1/2">
      <div
        class="default-border relative flex flex-col justify-center bg-quaternary lg:bg-whiteTransparency py-12 px-10 lg:sticky lg:top-[185px] lg:mt-[-230px] xl:mb-0"
      >
        <h2
          class="default-h responsive-h2 mb-5"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Comment utiliser cet outil
        </h2>
        <p
          class="default-p mb-5"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Suivez les étapes ci-dessous pour remplir le formulaire et obtenir un
          PDF récapitulatif de vos besoins. Ce processus vous guidera pour
          définir clairement vos objectifs et nous permettre de vous offrir des
          solutions sur mesure.
        </p>
        <ol class="default-p mt-3 mb-8 bullet-point">
          <li
            class="mb-3 pl-5 relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="200"
          >
            <strong>Sélectionner le Type de Projet :</strong>
            Choisissez entre développement de site web, refonte, maintenance ou
            référencement.
          </li>
          <li
            class="mb-3 pl-5 relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="250"
          >
            <strong>Répondre aux questions spécifiques :</strong>
            Remplissez les questions relatives au type de projet sélectionné.
          </li>
          <li
            class="mb-3 pl-5 relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="300"
          >
            <strong>Vérifier les informations :</strong>
            Assurez-vous que toutes les informations fournies sont correctes.
          </li>
          <li
            class="mb-3 pl-5 relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="350"
          >
            <strong>Télécharger le PDF :</strong> Cliquez sur le bouton pour
            générer et télécharger le PDF récapitulatif de vos réponses.
          </li>
          <li
            class="pl-5 relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="400"
          >
            <strong>Transmettre le PDF :</strong> Envoyez-nous le document via
            notre page de contact pour que nous puissions analyser vos besoins
            et vous proposer une solution adaptée.
          </li>
        </ol>
        <a
          href="{{ path('app_contact') }}"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-selay="250"
          ><button class="darkBlue-button">Transmettre le PDF</button></a
        >
      </div>
    </article>

    <!-- Block forms -->
    <article
      x-data="{ selectedForm: '', block1: false, block2: false, block3: false, block4: false, block5: false, block6: false, block7: false, block8: false, block9: false }"
      class="default-mt flex flex-col lg:w-1/2"
    >
      <div>
        <label for="formType" class="default-label">
          Sélectionnez le type de formulaire
        </label>
        <select
          id="formType"
          x-model="selectedForm"
          class="default-input default-focus cursor-pointer select-input w-full"
        >
          <option value="">-Sélectionnez le type de projet-</option>
          <option value="form1">Développement de site web</option>
          <option value="form2">Refonte</option>
          <option value="form3">Maintenance</option>
          <option value="form4">Référencement</option>
        </select>
      </div>

      <!-- Devlopment form -->
      <div
        x-data="{ block: 1 }"
        x-show="selectedForm === 'form1'"
        class="mt-6 w-full flex flex-col gap-6"
        id="form1"
      >
        <!-- Question 1 -->
        <div x-show="block1 || (block1 = true)" class="flex flex-col">
          <label for="input1" class="default-label">1/8. Nom du projet</label>
          <input
            type="text"
            id="input1"
            class="w-full default-input default-focus"
            placeholder="ex : Mon Site Web Pro"
            @input="block2 =  true"
          />
        </div>

        <!-- Question 2 -->
        <div x-show="block2">
          <label for="input2" class="default-label"
            >2/8. Description de votre entreprise
          </label>
          <textarea
            type="text"
            id="input2"
            class="w-full default-textarea default-focus"
            placeholder="ex : Entreprise de vente de produits artisanaux, fondée en 2015, basée à Paris."
            @input="block3 =  true"
          ></textarea>
        </div>

        <!-- Question 3 -->
        <div x-show="block3">
          <label for="input3" class="default-label"
            >3/8. Objectif du site web
          </label>
          <textarea
            type="text"
            id="input3"
            class="w-full default-textarea default-focus"
            placeholder="ex : Présence en ligne pour augmenter la visibilité et attirer de nouveaux clients."
            @input="block4 =  true"
          ></textarea>
        </div>

        <!-- Question 4 -->
        <div x-show="block4">
          <label for="input4" class="default-label"
            >4/8. Fonctionnalités souhaitées
          </label>
          <textarea
            type="text"
            id="input4"
            class="w-full default-textarea default-focus"
            placeholder="ex : Formulaire de contact, Blog, E-commerce pour vendre des produits."
            @input="block5 =  true"
          ></textarea>
        </div>

        <!-- Question 5 -->
        <div x-show="block5">
          <label for="input5" class="default-label">5/8. Public cible </label>
          <textarea
            type="text"
            id="input5"
            class="w-full default-textarea default-focus"
            placeholder="ex : Adultes de 25 à 45 ans, intéressés par les produits artisanaux."
            @input="block6 =  true"
          ></textarea>
        </div>

        <!-- Question 6 -->
        <div x-show="block6">
          <label for="input6" class="default-label"
            >6/8. Exemples de sites qui vous inspirent
          </label>
          <textarea
            type="text"
            id="input6"
            class="w-full default-textarea default-focus"
            placeholder="ex : www.exemple1.com, www.exemple2.com"
            @input="block7 =  true"
          ></textarea>
        </div>

        <!-- Question 7 -->
        <div x-show="block7">
          <label for="input7" class="default-label">7/8. Budget estimé </label>
          <input
            type="text"
            id="input7"
            class="w-full default-input default-focus"
            @input="block8 =  true"
            placeholder="ex : 2000 - 3000 €"
          />
        </div>

        <!-- Question 8 -->
        <div x-show="block8">
          <label for="input8" class="default-label"
            >8/8. Délai souhaité pour le lancement
          </label>
          <input
            type="text"
            id="input8"
            class="w-full default-input default-focus"
            placeholder="ex : 3 mois à partir de la signature du contrat."
            @input="block9 =  true"
          />
        </div>

        <!-- End block -->
        <div x-show="block9" class="lg:w-[91%]">
          <button id="download-button1" class="blue-button">Télécharger</button>
        </div>
      </div>

      <!-- Redesign form -->
      <div
        x-data="{ block: 1 }"
        x-show="selectedForm === 'form2'"
        class="mt-6 w-full flex flex-col gap-6"
        id="form2"
      >
        <!-- Question 1 -->
        <div x-show="block1 || (block1 = true)" class="flex flex-col">
          <label for="input1" class="default-label"
            >1/8. URL du site actuel
          </label>
          <input
            type="text"
            id="input1"
            class="w-full default-input default-focus"
            placeholder="ex : https://www.votresite.com"
            @input="block2 =  true"
          />
        </div>

        <!-- Question 2 -->
        <div x-show="block2">
          <label for="input2" class="default-label"
            >2/8. Principales raisons de la refonte
          </label>
          <textarea
            type="text"
            id="input2"
            class="w-full default-textarea default-focus"
            placeholder="ex : Améliorer l'expérience utilisateur, moderniser le design, ajouter de nouvelles fonctionnalités"
            @input="block3 =  true"
          ></textarea>
        </div>

        <!-- Question 3 -->
        <div x-show="block3">
          <label for="input3" class="default-label"
            >3/8. Objectifs de la refonte
          </label>
          <textarea
            type="text"
            id="input3"
            class="w-full default-textarea default-focus"
            placeholder="ex : Augmenter les ventes en ligne, améliorer le SEO, rendre le site mobile-friendly"
            @input="block4 =  true"
          ></textarea>
        </div>

        <!-- Question 4 -->
        <div x-show="block4">
          <label for="input4" class="default-label"
            >4/8. Fonctionnalités à ajouter ou améliorer
          </label>
          <textarea
            type="text"
            id="input4"
            class="w-full default-textarea default-focus"
            placeholder="ex : Intégration de l'e-commerce, système de blog, formulaire de contact"
            @input="block5 =  true"
          ></textarea>
        </div>

        <!-- Question 5 -->
        <div x-show="block5">
          <label for="input5" class="default-label">5/8. Public cible </label>
          <textarea
            type="text"
            id="input5"
            class="w-full default-textarea default-focus"
            placeholder="ex : Jeunes adultes, professionnels de la santé, amateurs de sport"
            @input="block6 =  true"
          ></textarea>
        </div>

        <!-- Question 6 -->
        <div x-show="block6">
          <label for="input6" class="default-label"
            >6/8. Exemples de sites qui vous inspirent
          </label>
          <textarea
            type="text"
            id="input6"
            class="w-full default-textarea default-focus"
            placeholder="ex : https://www.inspiration1.com, https://www.inspiration2.com"
            @input="block7 =  true"
          ></textarea>
        </div>

        <!-- Question 7 -->
        <div x-show="block7">
          <label for="input7" class="default-label">7/8. Budget estimé </label>
          <input
            type="text"
            id="input7"
            class="w-full default-input default-focus"
            @input="block8 =  true"
            placeholder="ex : 5000 € - 10000 €"
          />
        </div>

        <!-- Question 8 -->
        <div x-show="block8">
          <label for="input8" class="default-label"
            >8/8. Délai souhaité pour le lancement
          </label>
          <input
            type="text"
            id="input8"
            class="w-full default-input default-focus"
            placeholder="ex : 3 mois"
            @input="block9 =  true"
          />
        </div>

        <!-- End block -->
        <div x-show="block9" class="lg:w-[91%]">
          <button id="download-button2" class="blue-button">Télécharger</button>
        </div>
      </div>

      <!-- Maintenance form -->
      <div
        x-data="{ block: 1 }"
        x-show="selectedForm === 'form3'"
        class="mt-6 w-full flex flex-col gap-6"
        id="form3"
      >
        <!-- Question 1 -->
        <div x-show="block1 || (block1 = true)" class="flex flex-col">
          <label for="input1" class="default-label">1/8. URL du site </label>
          <input
            type="text"
            id="input1"
            class="w-full default-input default-focus"
            placeholder="ex : https://www.votresite.com"
            @input="block2 =  true"
          />
        </div>

        <!-- Question 2 -->
        <div x-show="block2">
          <label for="input2" class="default-label"
            >2/8. Technologies utilisées
          </label>
          <input
            type="text"
            id="input2"
            class="w-full default-input default-focus"
            placeholder="ex : Symfony, Docker, PostgreSQL"
            @input="block3 =  true"
          />
        </div>

        <!-- Question 3 -->
        <div x-show="block3">
          <label for="input3" class="default-label"
            >3/8. Types de maintenance souhaitée
          </label>
          <textarea
            type="text"
            id="input3"
            class="w-full default-textarea default-focus"
            placeholder="ex : Maintenance corrective, évolutive, préventive"
            @input="block4 =  true"
          ></textarea>
        </div>

        <!-- Question 4 -->
        <div x-show="block4">
          <label for="input4" class="default-label"
            >4/8. Fréquence des mises à jour
          </label>
          <input
            type="text"
            id="input4"
            class="w-full default-input default-focus"
            placeholder="ex : Hebdomadaire, mensuelle, trimestrielle"
            @input="block5 =  true"
          />
        </div>

        <!-- Question 5 -->
        <div x-show="block5">
          <label for="input5" class="default-label"
            >5/8. Historique des interventions précédentes
          </label>
          <textarea
            type="text"
            id="input5"
            class="w-full default-textarea default-focus"
            placeholder="ex : Dernière mise à jour le 01/01/2024, correction de bugs, ajout de nouvelles fonctionnalités"
            @input="block6 =  true"
          ></textarea>
        </div>

        <!-- Question 6 -->
        <div x-show="block6">
          <label for="input6" class="default-label"
            >6/8. Problèmes actuels rencontrés
          </label>
          <textarea
            type="text"
            id="input6"
            class="w-full default-textarea default-focus"
            placeholder="ex : Temps de chargement lent, bugs sur certaines pages, incompatibilité mobile"
            @input="block7 =  true"
          ></textarea>
        </div>

        <!-- Question 7 -->
        <div x-show="block7">
          <label for="input7" class="default-label"
            >7/8. Budget mensuel alloué
          </label>
          <input
            type="text"
            id="input7"
            class="w-full default-input default-focus"
            @input="block8 =  true"
            placeholder="ex : 200 € - 500 €"
          />
        </div>

        <!-- Question 8 -->
        <div x-show="block8">
          <label for="input8" class="default-label"
            >8/8. Priorités de maintenance
          </label>
          <textarea
            type="text"
            id="input8"
            class="w-full default-textarea default-focus"
            placeholder="ex : Sécurité, performance, compatibilité"
            @input="block9 =  true"
          ></textarea>
        </div>

        <!-- End block -->
        <div x-show="block9" class="lg:w-[91%]">
          <button id="download-button3" class="blue-button">Télécharger</button>
        </div>
      </div>

      <!-- SEO form -->
      <div
        x-data="{ block: 1 }"
        x-show="selectedForm === 'form4'"
        class="mt-6 w-full flex flex-col gap-6"
        id="form4"
      >
        <!-- Question 1 -->
        <div x-show="block1 || (block1 = true)" class="flex flex-col">
          <label for="input1" class="default-label">1/8. URL du site </label>
          <input
            type="text"
            id="input1"
            class="w-full default-input default-focus"
            placeholder="ex : https://www.votresite.com"
            @input="block2 =  true"
          />
        </div>

        <!-- Question 2 -->
        <div x-show="block2">
          <label for="input2" class="default-label"
            >2/8. Principaux mots-clés visés
          </label>
          <input
            type="text"
            id="input2"
            class="w-full default-input default-focus"
            placeholder="ex : développement web, agence SEO, marketing digital"
            @input="block3 =  true"
          />
        </div>

        <!-- Question 3 -->
        <div x-show="block3">
          <label for="input3" class="default-label"
            >3/8. Objectifs de SEO
          </label>
          <textarea
            type="text"
            id="input3"
            class="w-full default-textarea default-focus"
            placeholder="ex : Augmenter le trafic organique, améliorer le classement des mots-clés, générer des leads"
            @input="block4 =  true"
          ></textarea>
        </div>

        <!-- Question 4 -->
        <div x-show="block4">
          <label for="input4" class="default-label"
            >4/8. État actuel du SEO
          </label>
          <textarea
            type="text"
            id="input4"
            class="w-full default-textarea default-focus"
            placeholder="ex : Score SEO actuel, performances sur les moteurs de recherche"
            @input="block5 =  true"
          ></textarea>
        </div>

        <!-- Question 5 -->
        <div x-show="block5">
          <label for="input5" class="default-label"
            >5/8. Concurrents principaux
          </label>
          <textarea
            type="text"
            id="input5"
            class="w-full default-textarea default-focus"
            placeholder="ex : Site A, Site B, Site C"
            @input="block6 =  true"
          ></textarea>
        </div>

        <!-- Question 6 -->
        <div x-show="block6">
          <label for="input6" class="default-label"
            >6/8. Budget mensuel alloué
          </label>
          <input
            type="text"
            id="input6"
            class="w-full default-input default-focus"
            placeholder="ex : 500 € - 2000 €"
            @input="block7 =  true"
          />
        </div>

        <!-- Question 7 -->
        <div x-show="block7">
          <label for="input7" class="default-label"
            >7/8. Priorités de référencement
          </label>
          <textarea
            type="text"
            id="input7"
            class="w-full default-textarea default-focus"
            @input="block8 =  true"
            placeholder="ex : Contenu, backlinks, optimisation technique"
          ></textarea>
        </div>

        <!-- Question 8 -->
        <div x-show="block8">
          <label for="input8" class="default-label"
            >8/8. Délai prévu pour atteindre vos objectifs SEO
          </label>
          <input
            type="text"
            id="input8"
            class="w-full default-input default-focus"
            @input="block9 =  true"
            placeholder="ex : 6 mois"
          />
        </div>

        <!-- End block -->
        <div x-show="block8" class="lg:w-[91%]">
          <button id="download-button4" class="blue-button">Télécharger</button>
        </div>
      </div>
      <div id="statusMessages" class="mt-6"></div>
    </article>
  </div>
</section>
{% endblock %}
