{% extends 'base.html.twig' %} {% block title %} Processus de planification
collaborative pour votre projet web {% endblock %} {% block description %}
Découvrez notre processus de planification collaborative pour réussir votre
projet web. De la définition des objectifs au suivi post-lancement, nous vous
accompagnons à chaque étape. {% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("plan") }}
{% endblock %} {% block body %}

<section class="default-mt flex flex-col justify-center items-center w-full">
  <!-- Header -->
  <article
    class="flex flex-col w-full gap-10 sm:container lg:flex-row lg:default-container"
  >
    <div class="lg:w-1/2 px-8 lg:px-0">
      <div>
        <h1
          class="default-h responsive-h1"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Planifions ensemble
        </h1>
        <p
          class="default-bp mt-3"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Un processus collaboratif pour réussir votre projet
        </p>
        <p
          class="default-p mt-3"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          Découvrez notre approche structurée pour planifier et exécuter votre
          projet web avec succès. À chaque étape, nous travaillons en étroite
          collaboration avec vous pour garantir que vos besoins sont satisfaits
          et que votre vision est réalisée.
        </p>
      </div>
      <div class="mt-10">
        <h2
          class="default-h responsive-h2"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          L'importance de la planification
        </h2>
        <p
          class="default-p mt-3"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          La planification est cruciale pour le succès de tout projet. Elle
          permet de définir des objectifs clairs, d'anticiper les obstacles et
          d'assurer une exécution fluide. Grâce à une planification rigoureuse,
          nous garantissons des résultats optimaux et une satisfaction client
          maximale.
        </p>
      </div>
    </div>

    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/support/define.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- Content -->
  <article
    class="default-container default-mt flex flex-col w-full sm:container lg:gap-10 lg:flex-row plan-lg:mt-[100px] lg:mt-0"
  >
    <!-- Block steps-->
    <article class="lg:w-1/2">
      <div
        class="default-border relative flex flex-col justify-center bg-quaternary lg:bg-whiteTransparency py-12 px-10 lg:sticky lg:top-[185px] lg:mt-[-80px] xl:mb-0"
      >
        <h2
          class="default-h responsive-h2 mb-5"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Nos étapes de planification
        </h2>
        <p
          class="default-p mb-5"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Suivez chaque étape de notre processus de planification pour garantir
          la réussite de votre projet. Restez informé et impliqué tout au long
          du développement grâce à notre approche méthodique.
        </p>
        <a
          href="{{ path('app_contact') }}"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-selay="250"
          ><button class="darkBlue-button">Planifiez votre projet</button></a
        >
      </div>
    </article>

    <article class="default-mt flex flex-col lg:w-1/2 items-center">
      <!-- Block definition of goals -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">01</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Définir vos objectifs</p>
          <p class="default-p">
            Lors de cette première étape, nous discutons de vos attentes, de vos
            besoins spécifiques et des objectifs que vous souhaitez atteindre
            avec votre projet. Cette phase est essentielle pour aligner notre
            vision sur la vôtre.
          </p>
        </div>
      </div>

      <!-- Block analysis and research -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">02</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Analyse et Recherche</p>
          <p class="default-p">
            Nous effectuons une analyse approfondie de votre secteur, de vos
            concurrents et des meilleures pratiques en matière de technologie et
            de design. Cette recherche nous permet de proposer des solutions
            innovantes et adaptées à votre contexte.
          </p>
        </div>
      </div>

      <!-- Block conception and prototype -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">03</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Conception et Prototypage</p>
          <p class="default-p">
            Nous passons ensuite à la conception de maquettes et de prototypes
            interactifs. Ces modèles servent de base pour discuter et affiner
            les aspects visuels et fonctionnels de votre projet avant de passer
            à la phase de développement.
          </p>
        </div>
      </div>

      <!-- Block development and integration -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">04</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Développement et Intégration</p>
          <p class="default-p">
            Une fois le prototype validé, nous commençons le développement de
            votre site web en utilisant les technologies les plus adaptées,
            telles que Symfony, Docker et PostgreSQL. Nous assurons également
            l'intégration des fonctionnalités souhaitées.
          </p>
        </div>
      </div>

      <!-- Block tests and validation -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">05</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Tests et Validation</p>
          <p class="default-p">
            Nous effectuons des tests rigoureux pour nous assurer que votre site
            est performant, sécurisé et exempt de bugs. Cette phase inclut des
            tests utilisateurs pour valider l'expérience client et ajuster les
            derniers détails.
          </p>
        </div>
      </div>

      <!-- Block launch and maintenance -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">06</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-10 flex-col gap-3">
          <p class="default-bp">Lancement et Suivi</p>
          <p class="default-p">
            Après validation, nous procédons au lancement officiel de votre
            site. Nous restons à vos côtés pour assurer un suivi post-lancement
            et fournir la maintenance nécessaire pour garantir la pérennité de
            votre site.
          </p>
        </div>
      </div>
    </article>
  </article>
</section>

{% endblock %}
