{% extends 'base.html.twig' %} {% block title %} Planifions Ensemble {% endblock
%} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("plan") }}
{% endblock %} {% block body %}

<section
  class="mt-[80px] lg:mt-[100px] w-full default-container 2xl:container-fluid 2xl:px-[140px]"
>
  <!-- Content Header -->
  <article class="flex lg:flex-row flex-col gap-8 lg:h-[480px]">
    <!-- Title -->
    <div class="lg:w-1/2 px-8 lg:px-0">
      <h2
        class="text-white lg:text-[45px] md:text-[32px] text-[28px] tracking-tight"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Planifions Ensemble
      </h2>
      <p
        class="text-grayText mt-3 mb-8 leading-[28px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Notre objectif est de transformer vos visions en réalité de manière
        structurée et efficace. Cette page vous guidera à travers les éléments
        essentiels de notre processus de planification, assurant que chaque
        étape de votre projet est bien pensée et alignée avec vos objectifs
        finaux.
      </p>
      <h2
        class="text-white lg:text-[32px] md:text-[28px] text-[26px] tracking-tight"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Pourquoi est-il essentiel de planifier ?
      </h2>
      <p
        class="text-grayText mt-3 mb-8 leading-[28px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Une bonne planification est la clé du succès de tout projet. Elle permet
        d'identifier les ressources nécessaires, de fixer des délais réalistes,
        et d'établir des critères clairs pour mesurer le progrès et la réussite
        du projet. Nous prenons ce processus au sérieux pour garantir que vos
        attentes sont non seulement rencontrées mais dépassées.
      </p>
    </div>

    <!-- Image -->
    <div class="overflow-hidden h-[300px] lg:h-full lg:w-1/2 lg:rounded-md">
      <img
        src="{{ asset('./image/support/define.jpeg') }}"
        alt="creation de site"
        class="object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
      />
    </div>
  </article>

  <article class="mt-[80px] lg:mt-[100px]">
    <h2
      class="text-white lg:text-[32px] md:text-[28px] text-[26px] tracking-tight"
    >
      Les Étapes de Notre Planification
    </h2>
    <div class="lg:px-[140px] flex flex-col">
      <!-- block 1/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">01</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Définition des Objectifs</p>
          <p class="blabla">
            Nous reprendrons les objectifs définis dans la phase initiale pour
            nous assurer que notre équipe est alignée et comprend ce que vous
            souhaitez atteindre.
          </p>
        </div>
      </div>
      <!-- block 2/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">02</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Évaluation des Ressources et des Contraintes</p>
          <p class="blabla">
            Analyse des ressources disponibles, y compris le budget, les
            technologies, et le personnel. Identification des contraintes
            potentielles qui pourraient influencer le calendrier ou la qualité
            du projet.
          </p>
        </div>
      </div>
      <!-- block 3/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">03</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Élaboration du Plan d'Action</p>
          <p class="blabla">
            Développement d'un plan étape par étape qui détaille toutes les
            actions nécessaires pour atteindre les objectifs fixés. Ce plan
            inclura des jalons et des échéances pour chaque phase du projet.
          </p>
        </div>
      </div>
      <!-- block 4/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">04</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Révision et Ajustement</p>
          <p class="blabla">
            Présentation du plan pour votre examen et ajustement basé sur vos
            commentaires. Cette étape assure que le plan final répond
            parfaitement à vos attentes.
          </p>
        </div>
      </div>
      <!-- block 5/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">05</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Mise en Place des Métriques de Suivi</p>
          <p class="blabla">
            Définition des indicateurs de performance pour suivre le progrès du
            projet. Ces métriques permettent d'évaluer l'efficacité des
            stratégies implémentées et de faire des ajustements si nécessaire.
          </p>
        </div>
      </div>
      <!-- block 6/6 -->
      <div
        class="block-item flex gap-4 justify-between h-[400px] w-full md:w-[400px] lg:w-[500px]"
      >
        <div class="block-progress-plan">
          <p class="block-number-plan">06</p>
          <span class="parent-plan">
            <div class="child-plan"></div>
          </span>
        </div>
        <div class="block-content-plan w-[350px] pt-[40px] flex-col gap-[15px]">
          <p>Validation et Début de Réalisation</p>
          <p class="blabla">
            Une fois le plan approuvé par vous, nous procéderons à la mise en
            œuvre du projet. Cette étape marque le début de la transformation de
            votre vision en réalité.
          </p>
        </div>
      </div>
    </div>
  </article>
  {% include 'components/cta.html.twig' %}
</section>

{% endblock %}
