@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT IMPORT */
@font-face {
  font-family: "feather";
  src: url("../../public/fonts/feather.woff") format("woff"),
    url("../../public/fonts/feather.ttf") format("truetype"),
    url("../../public/fonts/feather.svg#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  background-color: #13131d;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../../public/image/bg/noise.gif");
  z-index: -1;
  opacity: 0.03;
  background-color: rebeccapurple;
}
body {
  position: relative;
}
.hidden-until-scroll {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Hero */
.height-nav {
  height: calc(100vh - 85px);
}

/* Alpine attributes */
[x-cloak] {
  display: none;
}

/* HEADER */
.nav-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav-visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.nav-none {
  display: none;
}
.submenu-container {
  top: 69px;
}
.submenu-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 6.5%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #212e48 transparent;
}

/* Feather arrow right */
.feather {
  font-family: "feather" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pagination */
.swiper-container .swiper-pagination.custom-pagination {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.custom-pagination .swiper-pagination-bullet {
  background: #00a3ff;
}

/* Input file */
.file-upload-input {
  background-color: rgba(36, 36, 53, 0.3412);
  border: 1px solid #282832;
  color: #acacac;
}
.file-upload-input::file-selector-button {
  display: none;
}

#contact_subject {
  color: #acacac;
}

.select-container {
  position: relative;
  display: inline-block;
}
.select-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-container::after {
  content: "\e92e";
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: "feather";
  transform: translateY(-50%);
  color: #00a3ff;
  font-size: 18px;
}
.select-input {
  padding-right: 30px;
}
.select-input option {
  background-color: #171721;
  color: #fff;
}

/* ANIMATIONS */
/* Blur intensify */
.blur-intensify::after {
  position: absolute;
  background: #00a3ff;
  opacity: 0;
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  content: "";
  filter: blur(80px);
  z-index: -1;
  transition: opacity 0.5s ease, filter 0.5s ease;
}
.blur-intensify:hover::after {
  opacity: 1;
  filter: blur(60px);
}

/* Translate effect */
.translate-effect {
  transition: transform 0.3s ease-in-out !important;
}
.translate-effect:hover {
  transform: translateY(-10px);
}

/* Text ellipsis */
.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Scale up */
.swiper-slide img {
  transition: transform 500ms ease-in-out;
}
.swiper-slide:hover img {
  transform: scale(1.1);
}

/* Direction aware */
.grid li:hover ~ li:last-child:after,
.grid li:last-child:hover:after,
.grid li:hover ~ li:last-child:before,
.grid li:last-child:hover:before {
  opacity: 1;
  transition: 0.5s ease;
}
.grid li:last-child:after,
.grid li:last-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.grid li:last-child:after {
  mix-blend-mode: multiply;
  background: #0000001c;
  border-radius: 8px;
}
.grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
}
.grid li:last-child:after,
.grid li:last-child:before {
  left: 100%;
  transform: translate3d(-200%, -100%, 0);
}
.grid li:nth-child(1):hover ~ li:last-child:after,
.grid li:nth-child(1):hover ~ li:last-child:before {
  transform: translate3d(-200%, -100%, 0);
}
.grid li:nth-child(2):hover ~ li:last-child:after,
.grid li:nth-child(2):hover ~ li:last-child:before {
  transform: translate3d(-100%, -100%, 0);
}
.grid li:nth-child(3):hover ~ li:last-child:after,
.grid li:nth-child(3):hover ~ li:last-child:before {
  transform: translate3d(-200%, 0, 0);
}
.grid li:nth-child(4):hover ~ li:last-child:after,
.grid li:nth-child(4):hover ~ li:last-child:before {
  transform: translate3d(-200%, -100%, 0);
}
.grid li:last-child:hover:after,
.grid li:last-child:hover:before {
  transform: translate3d(-100%, 0%, 0);
}

/* Border expand */
.border-expand::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00a3ff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.border-expand:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Sibling fade */
.sibling-fade {
  visibility: hidden;
}
.sibling-fade > * {
  visibility: visible;
}
.sibling-fade > * {
  transition: opacity 0.3s;
}
.sibling-fade:hover > * {
  opacity: 0.4;
}
.sibling-fade > *:hover {
  opacity: 1;
  transition-delay: 0ms, 0ms;
}

/* Back to top */
.rn-progress-parent {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px #0d0d12;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.rn-progress-parent.rn-backto-top-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.rn-progress-parent::after {
  position: absolute;
  font-family: "feather" !important;
  content: "\e914";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: #00a3ff;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.rn-progress-parent:hover::after {
  color: #00a3ff;
}
.rn-progress-parent::before {
  position: absolute;
  font-family: "feather" !important;
  content: "\e914";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background: #0d0d12;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.rn-progress-parent:hover::before {
  opacity: 1;
}
.rn-progress-parent svg path {
  fill: none;
}
.rn-progress-parent svg.rn-back-circle path {
  stroke: #00a3ff;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* EXPERTISE */
@keyframes translateYTo0 {
  from {
    transform: translateY(180px);
  }
  to {
    transform: translateY(0);
  }
}

.custom-transition {
  animation: translateYTo0 400ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}

.custom-transition2 {
  animation: translateYTo0 600ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}
.custom-transition3 {
  animation: translateYTo0 800ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}
.custom-transition4 {
  animation: translateYTo0 1000ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}

/* PROJECTS */
#image img {
  animation: fadeInImage 2s forwards;
}

#text p,
#text a {
  opacity: 0;
}
#nextProject:active {
  background-color: #212e48;
}
#prevProject:active {
  background-color: #212e48;
}

#text p:nth-child(1) {
  animation: fadeInText 2s 0ms forwards;
}
#text p:nth-child(2) {
  animation: fadeInText 2s 500ms forwards;
}
#text p:nth-child(3) {
  animation: fadeInText 2s 1000ms forwards;
}
#text a {
  animation: fadeInText 2s 1500ms forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* Cursor */
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: #4d535e;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background-color: #4d535e;
  opacity: 0.3;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #4d535e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  -webkit-transition: all 0.08s ease-out;
  transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

.main-wrapper[data-magic-cursor="hide"] .mouse-cursor {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1111;
}

/* SERVICES AND PRICES */
.div-hover-help {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* DEFINE YOUR GOALS */
.hidden-div {
  display: none;
}
textarea {
  resize: none;
}

.select-container {
  position: relative;
  display: inline-block;
}
.select-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-container::after {
  content: "\e92e";
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: "feather";
  transform: translateY(-50%);
  color: #00a3ff;
  font-size: 18px;
}
.select-input {
  padding-right: 30px;
}
.select-input option {
  background-color: #171721;
  color: #fff;
}

/* PLAN */
.block-number-plan {
  font-size: 100px;
  font-weight: bold;
  color: gray;
}
.parent-plan {
  height: 300px;
  width: 4px;
  background-color: #282832;
  display: block;
  position: relative;
}
.child-plan {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #00a3ff;
  transition: height 0.1s ease; /* Transition pour un effet plus fluide */
}

.block-progress-plan {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-content-plan p:nth-child(1) {
  color: #00a3ff;
  font-size: 16px;
}
.block-content-plan p:nth-child(2) {
  color: #acacac;
}

/* Animation fadein */
.block-content-plan {
  opacity: 0;
}
.block-content-plan {
  display: none;
  color: white;
  animation: slideUpFadeIn 1s ease-in-out forwards;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PROJECTS VERSION MOBILE */

.project-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 8px;
}
.project-content {
  width: calc((100vw - 64px) * 3);
  height: 500px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  position: absolute;
}
.project-block {
  width: calc(100vw - 64px);
  height: 100%;
  position: relative;
}
.project-block-content-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100vw - 64px);
  height: 120px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-block-content-children {
  width: 96%;
  height: 86%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.project-content-redirect-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 10px;
}
.project-content-redirect {
  width: calc(100vw - 64px);
  height: 100%;
  background-color: rgba(0, 163, 255, 0.7);
  z-index: 5;
  position: absolute;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.project-content-redirect {
  transition: opacity 0.5s ease-in-out;
}
.project-content-redirect:hover {
  opacity: 1;
}
.project-content-redirect p {
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
}

.project-image {
  width: 100% !important;
  object-fit: cover !important;
}

.project-tag::first-letter {
  text-transform: uppercase
}

/* BLOG */

.post-tag::first-letter {
  text-transform: uppercase
}
