{% extends 'base.html.twig' %} {% block title %} Services de maintenance web :
sécurité et performance garanties {% endblock %} {% block description %} Assurez
la performance et la sécurité de votre site web avec nos services de
maintenance. Nous proposons des forfaits adaptés pour garantir la continuité de
votre présence en ligne. {% endblock %} {% block body %}

<!-- Site Maintenance -->
<section class="default-mt flex flex-col justify-center items-center w-full">
  <!-- Header -->
  <article
    class="flex flex-col w-full gap-10 sm:container lg:flex-row lg:default-container"
  >
    <div class="px-8 lg:px-0 lg:w-1/2">
      <h1
        class="default-h responsive-h1 mb-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Maintenance de site web
      </h1>
      <p
        class="default-bp mt-[10px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Assurez la pérennité de votre présence en ligne
      </p>
      <p
        class="default-p mt-[20px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Chez Hafo Web Solutions, nous comprenons l'importance de maintenir vôtre
        site web performant et sécurisé. Notre service de maintenance garantit
        que votre site reste à jour, sécurisé et fonctionnel, vous permettant de
        vous concentrer sur votre activité principale.
      </p>
    </div>
    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/expertise/creation/image.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- Content -->
  <div
    class="default-container flex flex-col w-full mt-[-100px] sm:container lg:gap-10 lg:flex-row lg:mt-0"
  >
    <!-- Block Optimization -->
    <article class="lg:w-1/2">
      <div
        class="default-border relative flex flex-col justify-center bg-quaternary py-12 px-10 lg:sticky lg:top-[185px] lg:mt-[-200px] xl:mb-0"
      >
        <h2
          class="default-h responsive-h2 mb-[20px]"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Sécurité et performance
        </h2>
        <p
          class="default-p mb-[40px]"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Nous offrons des services complets pour garantir que votre site reste
          opérationnel et sécurisé. Nos services incluent des sauvegardes
          régulières pour protéger vos données, une optimisation continue pour
          maintenir une performance optimale, et des mises à jour de sécurité
          pour protéger contre les cyberattaques. Profitez d'une expérience
          utilisateur améliorée et d'une tranquillité d'esprit totale.
        </p>
        <a
          href="{{ path('app_contact') }}"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-selay="250"
          ><button class="darkBlue-button">Demandez un audit gratuit</button></a
        >
      </div>
    </article>

    <!-- Block Approach -->
    <article class="default-mt flex flex-col justify-center lg:w-1/2">
      <h2
        class="responsive-h2 default-h mb-[20px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Notre approche
      </h2>
      <ul class="default-p bullet-point">
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          <strong>Audit de maintenance</strong> : Évaluation initiale de l'état
          de votre site web pour identifier les besoins en maintenance. Nous
          analysons la sécurité, les performances, et les mises à jour
          nécessaires.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          <strong>Mises à jour régulières</strong> : Mise à jour régulière du
          framework, des bibliothèques et des dépendances pour garantir la
          sécurité et la compatibilité. Nous veillons à ce que votre site
          utilise les dernières versions des technologies.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          <strong>Surveillance de la sécurité</strong> : Surveillance proactive
          pour détecter et prévenir les menaces de sécurité. Nous mettons en
          place des mesures de protection et des correctifs de sécurité pour
          assurer la sûreté de votre site.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          <strong>Optimisation des performances</strong> : Analyse et
          optimisation de la vitesse de chargement de votre site. Nous
          améliorons les temps de réponse et la performance globale pour une
          meilleure expérience utilisateur.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="400"
        >
          <strong>Support technique</strong> : Assistance technique continue
          pour résoudre rapidement tout problème. Notre équipe est disponible
          pour répondre à vos questions et intervenir en cas de besoin.
        </li>
        <li
          class="pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="450"
        >
          <strong>Rapports et suivi</strong> : Rapports réguliers sur l'état de
          votre site et les actions de maintenance effectuées. Nous vous tenons
          informés des améliorations et des ajustements réalisés.
        </li>
      </ul>
    </article>
  </div>

  <!-- Block Creation -->
  <article
    class="default-container default-mt flex flex-col w-full sm:container lg:flex-row lg:gap-8 lg:mt-[100px]"
  >
    <div class="flex flex-col justify-center mb-8 lg:w-1/2 lg:mb-0">
      <h2
        class="default-h responsive-h2 mb-[20px] lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Boostez votre visibilité en ligne
      </h2>
    </div>
    <div class="default-border flex flex-col justify-center p-[25px] lg:w-1/2">
      <p
        class="default-p mb-[40px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Une fois votre site maintenu en parfait état, il est temps de maximiser
        sa visibilité. Notre expertise en référencement naturel via le code vous
        aide à attirer plus de visiteurs qualifiés et à améliorer votre
        positionnement sur les moteurs de recherche.
      </p>
      <a
        href="{{ path('app_expertise_seo') }}"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="250"
        ><button class="darkBlue-button">
          En savoir plus sur le référencement
        </button></a
      >
    </div>
  </article>

  <!-- Component Projects -->
  {% include "./components/projects.html.twig" %}

  <!-- Component Blog -->
  {% include "./components/blog.html.twig" %}

  <!-- Component CTA -->
  <!-- Title -->
  {% set title = "Prêt à sécuriser et optimiser votre site web ?" %}
  <!-- Content -->
  {% set content %} Contactez-nous dès maintenant pour discuter de vos besoins
  en maintenance de site web et obtenir une évaluation complète de votre site
  actuel.
  <span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
  {% endset %}
  <!-- Button -->
  {% set button = "Demandez un audit de maintenance gratuit" %}
  <!-- CTA -->
  {% include "./components/cta.html.twig" %}

  <!-- Component FAQ -->
  <!-- Question 1 -->
  {% set faq_question1_title = "Pourquoi la maintenance de site web est-elle
  importante ?" %} {% set faq_question1_content = "La maintenance régulière
  garantit la sécurité, la performance et la compatibilité de votre site web,
  vous protégeant contre les pannes et les cyberattaques." %}
  <!-- Question 2 -->
  {% set faq_question2_title = "Quelles sont les actions incluses dans la
  maintenance ?" %} {% set faq_question2_content = "Les actions incluent les
  mises à jour de logiciels, la surveillance de la sécurité, l'optimisation des
  performances, les sauvegardes régulières, et le support technique." %}
  <!-- Question 3 -->
  {% set faq_question3_title = "À quelle fréquence mon site doit-il être mis à
  jour ?" %} {% set faq_question3_content = "Nous recommandons des mises à jour
  mensuelles pour le framework, les bibliothèques et les dépendances, avec des
  vérifications de sécurité et des optimisations de performance régulières." %}
  <!-- Question 4 -->
  {% set faq_question4_title = "Que faire en cas de problème urgent sur mon site
  ?" %} {% set faq_question4_content = "Nous offrons un support technique
  réactif pour résoudre rapidement tout problème. Contactez notre équipe via
  notre formulaire de contact pour une assistance immédiate." %}
  <!-- Question 5 -->
  {% set faq_question5_title = "Quels sont les coûts de la maintenance de site
  web ?" %} {% set faq_question5_content = "Les coûts varient en fonction des
  besoins spécifiques de votre site. Nous proposons des forfaits personnalisés
  adaptés à votre budget et à vos exigences." %}
  <!-- Question 6 -->
  {% set faq_question6_title = "Comment la maintenance affecte-t-elle le SEO de
  mon site ?" %} {% set faq_question6_content = "Une maintenance régulière
  améliore la vitesse et la sécurité de votre site, ce qui peut positivement
  influencer votre classement dans les moteurs de recherche." %}
  <!-- Question 7 -->
  {% set faq_question7_title = "Puis-je demander une maintenance même si mon
  site n'a pas été créé par votre agence ?" %}{% set faq_question7_content =
  "Oui, nous offrons des services de maintenance pour tous les sites web, quel
  que soit leur développeur initial." %}
  <!-- Question 8 -->
  {% set faq_question8_title = "Que se passe-t-il si une mise à jour cause des
  problèmes sur mon site ?" %} {% set faq_question8_content = "Nous testons
  toutes les mises à jour dans un environnement de staging avant de les
  appliquer en production pour minimiser les risques. Si un problème survient,
  nous intervenons rapidement pour le résoudre." %}
  <!-- FAQ -->
  {% include "./components/faq.html.twig" %}
</section>
{% endblock %}
