{% extends 'base.html.twig' %} {% block title %} Refonte {% endblock %} {% block
body %}
<!-- Site creation -->
<section
  class="mt-[80px] lg:mt-[100px] w-full flex flex-col justify-center items-center"
>
  <!-- Content Header -->
  <article
    class="flex lg:flex-row flex-col gap-8 lg:h-[480px] w-full lg:default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <!-- Title -->
    <div class="lg:w-1/2 px-8 lg:px-0">
      <h1
        class="text-white lg:text-[45px] md:text-[32px] text-[28px] tracking-tight"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Refonte de Site Web
      </h1>
      <p
        class="text-secondary mt-3"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Revitaliser Votre Présence en Ligne avec Innovation
      </p>
      <p
        class="text-grayText mt-3 mb-8 leading-[28px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Dans l’écosystème digital en constante évolution, un site web peut
        rapidement se retrouver dépassé. Chez Hafo Web Solutions, nous
        revigorerons votre site avec une refonte stratégique qui marie
        innovation et pertinence, garantissant que votre présence en ligne reste
        compétitive et alignée avec les dernières tendances.
      </p>
    </div>

    <!-- Image -->
    <div
      class="overflow-hidden h-[300px] lg:h-full lg:w-1/2 lg:rounded-md w-screen"
    >
      <img
        src="{{ asset('./image/expertise/redesign/image.jpeg') }}"
        alt="refonte"
        class="object-cover"
      />
    </div>
  </article>

  <!-- Content -->
  <article
    class="flex lg:flex-row flex-col gap-8 expertise-lg:h-[250px] lg:h-[232px] w-full lg:mt-[140px] default-container mt-[-142px] 2xl:container-fluid 2xl:px-[140px]"
  >
    <!-- Block 1/4 -->
    <div
      class="lg:w-1/2 expertise-lg:h-[290px] lg:h-[240px] bg-quaternary xl:sticky xl:top-[100px] xl:mb-0 rounded-md border border-borderBase lg:mt-[-240px] relative p-8 flex justify-center flex-col"
    >
      <h3
        class="lg:text-[36px] md:text-[28px] mb-[20px] text-[26px] expertise-lg:text-[28px] leading-10 font-bold text-white"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Diagnostic Complet
      </h3>
      <p
        class="text-grayText leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Nous commençons par un audit exhaustif pour identifier les aspects de
        votre site qui nécessitent une amélioration, que ce soit en termes de
        design, d’expérience utilisateur, de performances techniques ou de
        conformité SEO.
      </p>
    </div>

    <!-- Block 2/4 -->
    <div
      class="lg:w-1/2 expertise-lg:h-[250px] lg:h-[230px] border border-borderBase p-8 flex justify-center flex-col rounded-md"
    >
      <h3
        class="lg:text-[32px] text-[24px] md:text-[26px] expertise-lg:text-[26px] text-white leading-10 mb-[20px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        SEO Affiné
      </h3>
      <p
        class="text-grayText leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Un site refondu est une toile vierge pour le SEO. Nous intégrons des
        stratégies de référencement naturel pour vous assurer un meilleur
        classement et plus de visibilité dès le relancement de votre site.
      </p>
    </div>
  </article>

  <article
    class="flex lg:flex-row lg:gap-8 expertise-lg:h-[230px] lg:h-[160px] w-full mt-[80px] lg:mt-[100px] flex-col default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <!-- Block 3/4 -->
    <div class="lg:w-1/2 flex flex-col justify-center mb-8 lg:mb-0">
      <h3
        class="lg:text-[32px] md:text-[26px] text-[24px] expertise-lg:text-[26px] font-bold text-white leading-10"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Optimisation Performante
      </h3>
    </div>

    <!-- Block 4/4 -->
    <div
      class="lg:w-1/2 border expertise-lg:h-[230px] lg:h-[170px] border-borderBase p-8 flex flex-col justify-center items-center rounded-md"
    >
      <p
        class="text-grayText leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Une refonte n’est pas seulement visuelle. Nous peaufinons le code source
        et la structure de votre site pour des temps de chargement réduits, une
        meilleure indexation par les moteurs de recherche et une accessibilité
        optimisée.
      </p>
    </div>
  </article>
</section>

<!-- Content CTA -->
{% include "./components/cta.html.twig" %} {% endblock %}
