{% extends 'base.html.twig' %} {% block title %} Référencement de site web -
Hafo {% endblock %} {% block body %}

<!-- Site SEO -->
<section class="default-mt flex flex-col justify-center items-center w-full">
  <!-- Header -->
  <article
    class="flex flex-col w-full gap-10 sm:container lg:flex-row lg:default-container"
  >
    <div class="px-8 lg:px-0 lg:w-1/2">
      <h1
        class="default-h responsive-h1 mb-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Référencement de site web
      </h1>
      <p
        class="default-bp mt-[10px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Optimisez votre visibilité en ligne
      </p>
      <p
        class="default-p mt-[20px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Chez Hafo Web Solutions, nous sommes spécialisés dans le référencement
        naturel (SEO) via le code. Notre approche technique vous permet de
        maximiser votre visibilité sur les moteurs de recherche et d'attirer un
        trafic qualifié, en optimisant directement le code de votre site pour
        une performance optimale.
      </p>
    </div>
    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/expertise/creation/image.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- Content -->
  <div
    class="default-container flex flex-col w-full mt-[-100px] sm:container lg:gap-10 lg:flex-row lg:mt-0"
  >
    <!-- Block Audit -->
    <article class="lg:w-1/2">
      <div
        class="default-border relative flex flex-col justify-center bg-quaternary py-12 px-10 lg:sticky lg:top-[185px] lg:mt-[-200px] xl:mb-0"
      >
        <h2
          class="default-h responsive-h2 mb-[20px]"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Boostez votre SEO
        </h2>
        <p
          class="default-p mb-[40px]"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Profitez de notre audit SEO technique gratuit pour identifier et
          corriger les points faibles de votre site. Grâce à une analyse
          détaillée, nous vous fournissons des recommandations précises et
          personnalisées pour optimiser votre code et améliorer votre classement
          sur les moteurs de recherche.
        </p>
        <a
          href="{{ path('app_contact') }}"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-selay="250"
          ><button class="darkBlue-button">Demandez un audit gratuit</button></a
        >
      </div>
    </article>

    <!-- Block Approach -->
    <article class="default-mt flex flex-col justify-center lg:w-1/2">
      <h2
        class="responsive-h2 default-h mb-[20px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Notre approche
      </h2>
      <ul class="default-p bullet-point">
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          <strong>Audit SEO technique</strong> : Nous commençons par une analyse
          détaillée de votre site pour identifier les opportunités
          d'amélioration. Notre diagnostic couvre les performances techniques,
          la structure du site et la qualité du code source.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          <strong>Optimisation du code</strong> : Amélioration du code source
          pour garantir une indexation optimale par les moteurs de recherche,
          optimisation de la vitesse de chargement et de la compatibilité
          mobile.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          <strong>Stratégie de contenu</strong> : Développement de contenu
          pertinent et optimisé pour vos mots-clés cibles, structuration du
          contenu pour maximiser l'engagement des utilisateurs.
        </li>
        <li
          class="mb-3 pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          <strong>Netlinking</strong> : Développement de backlinks de qualité
          pour renforcer l'autorité de votre site, analyse et gestion des liens
          entrants et sortants.
        </li>
        <li
          class="pl-5 relative"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="400"
        >
          <strong>Suivi et reporting</strong> : Suivi régulier des performances
          SEO avec des rapports détaillés et ajustements continus basés sur les
          résultats et les nouvelles tendances SEO.
        </li>
      </ul>
    </article>
  </div>

  <!-- Block Modernize -->
  <article
    class="default-container default-mt flex flex-col w-full sm:container lg:flex-row lg:gap-8 lg:mt-[100px]"
  >
    <div class="flex flex-col justify-center mb-8 lg:w-1/2 lg:mb-0">
      <h2
        class="default-h responsive-h2 mb-[20px] lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Modernisez votre site web
      </h2>
    </div>
    <div class="default-border flex flex-col justify-center p-[25px] lg:w-1/2">
      <p
        class="default-p mb-[40px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Améliorez l’apparence et les fonctionnalités de votre site pour offrir
        une meilleure expérience utilisateur. Notre service de refonte vous
        permet de rester compétitif et à jour avec les dernières tendances du
        web.
      </p>
      <a
        href="{{ path('app_expertise_redesign') }}"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="250"
        ><button class="darkBlue-button">
          En savoir plus sur la refonte
        </button></a
      >
    </div>
  </article>

  <!-- Component Projects -->
  {% include "./components/projects.html.twig" %}

  <!-- Component Blog -->
  {% include "./components/blog.html.twig" %}

  <!-- Component CTA -->
  <!-- Title -->
  {% set title = "Prêt à optimiser votre SEO ?" %}
  <!-- Content -->
  {% set content %} Contactez-nous dès maintenant pour discuter de vos besoins
  en référencement et obtenir une analyse précise de votre site.
  <span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
  {% endset %}
  <!-- Button -->
  {% set button = "Demandez un audit SEO gratuit" %}
  <!-- CTA -->
  {% include "./components/cta.html.twig" %}

  <!-- Component FAQ -->
  <!-- Question 1 -->
  {% set faq_question1_title = "Qu'est-ce que le SEO ?" %} {% set
  faq_question1_content = "Le SEO (Search Engine Optimization) est l'ensemble
  des techniques visant à améliorer le positionnement d'un site web sur les
  moteurs de recherche. Cela inclut l'optimisation du contenu, du code, et la
  création de backlinks." %}
  <!-- Question 2 -->
  {% set faq_question2_title = "Pourquoi le SEO est-il important ?" %} {% set
  faq_question2_content = "Le SEO est crucial pour augmenter la visibilité de
  votre site web, attirer plus de visiteurs qualifiés et améliorer la
  crédibilité et l'autorité de votre marque en ligne." %}
  <!-- Question 3 -->
  {% set faq_question3_title = "Qu'est-ce qu'un audit SEO technique ?" %} {% set
  faq_question3_content = "Un audit SEO technique est une analyse détaillée de
  la structure et du code de votre site web pour identifier les problèmes qui
  pourraient affecter son classement sur les moteurs de recherche." %}
  <!-- Question 4 -->
  {% set faq_question4_title = "Comment optimiser le code source pour le SEO ?"
  %} {% set faq_question4_content = "Optimiser le code source inclut la
  correction des erreurs, l'amélioration de la vitesse de chargement,
  l'utilisation appropriée des balises HTML et l'assurance de la compatibilité
  mobile." %}
  <!-- Question 5 -->
  {% set faq_question5_title = "Qu'est-ce que le netlinking ?" %} {% set
  faq_question5_content = "Le netlinking, ou link building, est la pratique
  d'obtenir des backlinks de qualité provenant d'autres sites web pour renforcer
  l'autorité et le classement de votre site sur les moteurs de recherche." %}
  <!-- Question 6 -->
  {% set faq_question6_title = "Comment le contenu impacte-t-il le SEO ?" %} {%
  set faq_question6_content = "Un contenu pertinent, bien structuré et optimisé
  pour les mots-clés cible améliore l'engagement des utilisateurs et aide les
  moteurs de recherche à comprendre et à indexer votre site correctement." %}
  <!-- Question 7 -->
  {% set faq_question7_title = "Quelle est l'importance de la vitesse de
  chargement pour le SEO ?" %} {% set faq_question7_content = "Une vitesse de
  chargement rapide améliore l'expérience utilisateur et est un facteur de
  classement important pour les moteurs de recherche. Un site lent peut
  entraîner une baisse de trafic et un mauvais classement." %}
  <!-- Question 8 -->
  {% set faq_question8_title = "Quels sont les outils utilisés pour le SEO ?" %}
  {% set faq_question8_content = "Les outils couramment utilisés pour le SEO
  incluent Google Analytics, Google Search Console, Ahrefs, SEMrush, et Moz, qui
  aident à analyser les performances, identifier les problèmes et optimiser le
  site." %}
  <!-- FAQ -->
  {% include "./components/faq.html.twig" %}
</section>
{% endblock %}
