{% extends 'base.html.twig' %} {% block title %} Création de site web - Hafo {%
endblock %} {% block body %}

<!-- Site Creation -->
<section class="default-mt flex flex-col justify-center items-center w-full">
  <!-- Header -->
  <article
    class="flex flex-col w-full gap-[40px] sm:container lg:flex-row lg:default-container"
  >
    <div class="px-8 lg:px-0 lg:w-1/2">
      <h1
        class="default-h responsive-h1 mb-[10px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Création de site web
      </h1>
      <p
        class="default-bp mt-[10px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Votre présence en ligne, notre expertise
      </p>
      <p
        class="default-p mt-[20px]"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Chez Hafo Web Solutions, nous savons qu'un site internet performant est
        essentiel pour votre succès. Nous mettons notre expertise en
        développement web à votre service pour créer des sites sur mesure,
        sécurisés et évolutifs, parfaitement adaptés à vos besoins.
      </p>
    </div>
    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/expertise/creation/image.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- Content -->
  <div
    class="default-container flex flex-col w-full mt-[-100px] gap-[40px] sm:container lg:flex-row lg:mt-0"
  >
    <!-- Block Project -->
    <article
      class="default-border relative flex flex-col justify-center bg-quaternary py-[50px] px-[40px] lg:sticky lg:w-1/2 lg:top-[100px] lg:h-[393px] lg:mt-[-260px] xl:mb-0"
    >
      <h2
        class="default-h responsive-h2 mb-[20px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Votre projet sur mesure
      </h2>
      <p
        class="default-p mb-[40px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Nous vous accompagnons dans la réalisation de votre projet web de A à Z.
        En tenant compte de vos besoins spécifiques et de votre vision, nous
        transformons vos idées en un site performant et esthétique. Grâce à
        notre savoir-faire, nous assurons une réalisation professionnelle de
        votre projet.
      </p>
      <a
        href="{{ path('app_contact') }}"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="250"
        ><button class="darkBlue-button">Demandez un devis gratuit</button></a
      >
    </article>

    <!-- Block Approach -->
    <article class="default-mt flex flex-col justify-center lg:w-1/2">
      <h2
        class="responsive-h2 default-h mb-[20px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Notre approche
      </h2>
      <div class="approach">
        <ul class="default-p">
          <li
            class="mb-[10px] pl-[20px] relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="200"
          >
            <strong>Analyse des besoins</strong> : Compréhension approfondie de
            vos objectifs et besoins spécifiques pour concevoir un site qui
            reflète parfaitement votre identité.
          </li>
          <li
            class="mb-[10px] pl-[20px] relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="250"
          >
            <strong>Conception UX et webdesign</strong> : Création d'interfaces
            attrayantes et intuitives garantissant une expérience utilisateur
            optimale, pensée pour attirer et retenir vos visiteurs.
          </li>
          <li
            class="mb-[10px] pl-[20px] relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="300"
          >
            <strong>Développement et intégration</strong> : Développement de
            sites web robustes et performants avec Symfony, adaptés à tout type
            de projet, qu'il s'agisse de sites vitrines, e-commerce ou
            applications web complexes.
          </li>
          <li
            class="mb-[10px] pl-[20px] relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="350"
          >
            <strong>Tests et optimisation</strong> : Tests rigoureux pour
            garantir un fonctionnement parfait sur tous les appareils et
            navigateurs, optimisation des performances pour un chargement rapide
            des pages.
          </li>
          <li
            class="pl-[20px] relative"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="400"
          >
            <strong>Lancement et suivi</strong> : Mise en ligne et suivi
            post-lancement pour garantir sécurité et performance continue, avec
            des services de maintenance incluant mises à jour régulières et
            surveillance proactive.
          </li>
        </ul>
      </div>
    </article>
  </div>

  <!-- Block Maintenance -->
  <article
    class="default-container default-mt flex flex-col w-full sm:container lg:flex-row lg:gap-8 lg:mt-[100px]"
  >
    <div class="flex flex-col justify-center mb-8 lg:w-1/2 lg:mb-0">
      <h2
        class="default-h responsive-h2 mb-[20px] lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Assurez la pérennité de votre site
      </h2>
    </div>
    <div class="default-border flex flex-col justify-center p-[25px] lg:w-1/2">
      <p
        class="default-p mb-[40px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        La création de votre site web n'est que le début. Notre service de
        maintenance garantit que votre site reste sécurisé, performant et à
        jour. Confiez-nous la maintenance de votre site pour une tranquillité
        d'esprit total.
      </p>
      <a
        href="{{ path('app_expertise_maintenance') }}"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="250"
        ><button class="darkBlue-button">
          Découvrez notre service de maintenance
        </button></a
      >
    </div>
  </article>

  <!-- Component Projects -->
  {% include "./components/projects.html.twig" %}

  <!-- Component Blog -->
  {% include "./components/blog.html.twig" %}

  <!-- Component CTA -->
  <!-- Title -->
  {% set title = "Prêt à démarrer votre projet ?" %}
  <!-- Content -->
  {% set content %} Contactez-nous dès maintenant pour discuter de vos besoins
  et obtenir une estimation précise.
  <span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
  {% endset %}
  <!-- Button -->
  {% set button = "Demandez un devis gratuit" %}
  <!-- CTA -->
  {% include "./components/cta.html.twig" %}

  <!-- Component FAQ -->
  <!-- Question 1 -->
  {% set faq_question1_title = "Pourquoi choisir le framework Symfony ?" %} {%
  set faq_question1_content = "Symfony est un framework PHP puissant, flexible
  et sécurisé, idéal pour des projets web robustes et évolutifs. Il permet de
  développer des fonctionnalités sur mesure tout en garantissant une haute
  performance." %}
  <!-- Question 2 -->
  {% set faq_question2_title = "Quels types de sites pouvez-vous créer ?" %} {%
  set faq_question2_content = "Nous créons des sites vitrines, e-commerce,
  applications web complexes, et bien plus, adaptés à vos besoins spécifiques.
  Chaque projet est unique et conçu pour refléter votre identité et répondre à
  vos objectifs." %}
  <!-- Question 3 -->
  {% set faq_question3_title = "Comment gérez-vous la maintenance du site ?" %}
  {% set faq_question3_content = "Nous assurons la maintenance continue avec des
  mises à jour régulières, une surveillance proactive, et des interventions
  rapides pour garantir que votre site reste sécurisé et performant. Ces
  services sont proposés sous forme de forfaits adaptés à vos besoins." %}
  <!-- Question 4 -->
  {% set faq_question4_title = "Quels sont les délais de création d'un site web
  ?" %} {% set faq_question4_content = "Les délais varient selon la complexité :
  de quelques semaines pour un site vitrine à plusieurs mois pour une
  application complexe. Nous fournissons une estimation précise après l'analyse
  de vos besoins." %}
  <!-- Question 5 -->
  {% set faq_question5_title = "Quels sont les coûts de création d'un site web
  ?" %} {% set faq_question5_content = "Les coûts dépendent de la complexité et
  des fonctionnalités requises. Nous proposons des devis personnalisés pour
  chaque projet, vous assurant une solution adaptée à votre budget." %}
  <!-- Question 6 -->
  {% set faq_question6_title = "Proposez-vous des solutions d'hébergement web ?"
  %} {% set faq_question6_content = "Oui, nous proposons des services
  d'hébergement incluant gestion de la sécurité, mises à jour régulières, et
  support technique pour garantir la disponibilité et la performance de votre
  site web." %}
  <!-- Question 7 -->
  {% set faq_question7_title = "Comment intégrez-vous l'optimisation SEO ?" %}{%
  set faq_question7_content = "Nous intégrons des pratiques SEO dès le début du
  projet pour améliorer la visibilité de votre site sur les moteurs de
  recherche, attirant ainsi plus de visiteurs qualifiés." %}
  <!-- Question 8 -->
  {% set faq_question8_title = "Quel accompagnement offrez-vous après le
  lancement ?" %} {% set faq_question8_content = "Après le lancement, nous
  offrons un accompagnement pour assurer que tout se passe bien et pour
  effectuer les ajustements nécessaires. Ce suivi initial est inclus dans le
  projet. Pour des besoins à long terme, nous proposons des contrats de
  maintenance." %}
  <!-- FAQ -->
  {% include "./components/faq.html.twig" %}
</section>
{% endblock %}
