{% block about %}
<section
  class="w-full flex flex-col lg:flex-row items-center gap-x-[64px] lg:bg-opacityBlue"
>
  <!-- Image -->
  <article class="order-2 w-full lg:order-1 lg:w-1/2">
    <img
      src="{{ asset('./image/about.webp') }}"
      alt="image achievement"
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] lg:h-[600px] object-cover"
    />
  </article>

  <!-- Block content -->
  <article
    class="py-[80px] bg-opacityBlue lg:bg-transparent order-1 lg:order-2 lg:w-1/2 default-container lg:mb-[0px] lg:px-0 lg:p-0 lg:pr-[64px]"
  >
    <div data-sal="slide-up" data-sal-duration="800" data-sal-selay="150">
      <h2 class="default-h responsive-h2 mb-3">Hafo Web Solutions</h2>
      <p class="default-bp mb-5">Innovation et Sur-Mesure</p>
    </div>
    <p
      class="default-p mt-5 mb-8"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="200"
    >
      Chez Hafo Web Solutions, l'innovation est la clé de voûte de notre offre.
      Nous construisons des expériences web sur-mesure, alliant technologie de
      pointe et créativité, pour concrétiser vos ambitions digitales. Chaque
      projet est une nouvelle aventure où vos idées prennent vie.
    </p>
    <a
      href="{{ path('app_agency') }}"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="250"
      ><button class="blue-button">Découvrir notre agence</button></a
    >
  </article>
</section>
{% endblock about %}
