{% block about %}
  <section class="mobile-container mb-[100px] md:h-screen w-full">
    {# Title section #}

      <h2
        class="text-3xl font-bold tracking-tight text-white max-w-2xl mb-4"
      >
        Stratégie Digitale Personnalisée. Votre Vision, Notre Mission
      </h2>


    {# Block content #}
    <div class="relative lg-1500:h-80 w-[100%]"   data-aos="fade-up"
    data-aos-duration="2000">
      {# Image #}
      <div
        class="w-[100%] justify-center items-center overflow-hidden bg-white"
      >
        <img
          class="w-[100%] object-cover h-80"
          src="{{ asset('./image/about.webp') }}"
          alt="image a propos"
        />
      </div>

      {# Content #}
      <div
        class="w-[100%%] lg:w-[550px] rounded-md border rounded-tr-none lg:rounded-tr-md lg:rounded-tl-md rounded-tl-none border-[#2B2B36] p-6 bg-[#191925] lg:absolute lg:left-[50px] lg:top-[160px] z-1"
      >
        <h3 class="text-white text-2xl font-semibold">
          L’agence Hafo Web Solutions
        </h3>
        <p class="text-[#ACACAC] text-base my-3">
          Fraîchement établie, Hafo Web Solutions est votre partenaire
          privilégié pour transformer les visions en réalisations digitales.
          Notre approche, fondée sur une écoute approfondie, garantit des
          solutions qui non seulement répondent à vos besoins immédiats mais
          préparent également le terrain pour un succès futur.
        </p>
        <a
          href="#"
          class="w-[180px] p-3 cursor-pointer flex justify-center items-center text-white rounded-md text-base bg-[#212E48]"
          >En Savoir Plus</a
        >
      </div>
    </div>
  </section>
{% endblock about %}
