{% block achievements %}
<section
  class="w-full flex flex-col lg:flex-row items-center gap-x-[64px] mt-[80px] lg:mt-[100px] lg:bg-opacityBlue 2xl:mt-0"
>
  <!-- Image -->
  <article class="order-2 w-full backdrop:lg:order-1 lg:w-1/2">
    <img
      src="{{ asset('./image/achievements/image.png') }}"
      alt="image achievement"
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] lg:h-[600px] object-cover"
    />
  </article>

  <!-- Block content -->
  <article class="py-[80px] bg-opacityBlue lg:bg-transparent order-1 lg:order-2 lg:w-1/2 default-container lg:mb-[0px] lg:px-0 lg:p-0 lg:pr-[64px]">
    <h2
      class="text-[34px] md:text-[38px] xl:text-[50px] font-bold tracking-tight text-white leading-[1.19]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="150"
    >
      Hafo, Partenaire de Votre Innovation Digitale
    </h2>
    <div class="mt-[20px] mb-[30px] text-base">
      <p
        class="mb-[15px] text-grayText text-base leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-selay="200"
      >
        En quête d'une vision digitale unique ? Hafo Web Solutions est à la
        recherche de collaborations stratégiques pour enrichir son portfolio.
        Soyez parmi les premiers à bénéficier d'une expertise pointue et d'une
        attention dédiée pour la concrétisation de votre projet en ligne.
      </p>
    </div>
    <a
      href="{{ path('app_agency') }}"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="250"
      ><button class="blue-button">Initiez Votre Projet</button></a
    >
  </article>
</section>
{% endblock achievements %}
