{% block achievements %}
<section class="">
 <article class="grid grid-cols-1 lg:grid-cols-7 lg:px-32 px-16">

    {# Imgae #}
    <div class="col-span-3">
        <img src="{{ asset('./image/achievements/image.svg') }}" alt="achievement" class="w-full h-full object-cover" />
    </div>

    {# Block content #}
    <div class="p-[35px] col-span-4">
        <h2 class="text-4xl lg:text-3xl mb-4 font-bold tracking-tight text-white">Hafo, Partenaire de Votre Innovation Digitale</h2>
        <p class=" mb-4 text-[#ACACAC] text-xl lg-1500:text-base">En quête d'une vision digitale unique ? Hafo Web Solutions est à la recherche de collaborations stratégiques pour enrichir son portfolio. Soyez parmi les premiers à bénéficier d'une expertise pointue et d'une attention dédiée pour la concrétisation de votre projet en ligne.</p>
        <p class=" mb-4 text-[#ACACAC]  text-xl lg-1500:text-base"> Nous offrons des solutions personnalisées, adaptées à vos besoins spécifiques. Chaque projet est une opportunité d'exceller ensemble, alliant technologie de pointe et approche sur mesure.</p>
        <p class=" mb-10 text-[#ACACAC] text-xl lg-1500:text-base">Ouvrons ensemble le chapitre numérique de votre succès.</p>
        <a class="py-4 px-8 text-white bg-[#00A3FF] text-xl lg-1500:text-base font-bold cursor-pointer rounded-lg">Initiez Votre Projet</a>
    </div>

 </article>
</section>
{% endblock achievements %}