{% block achievements %}
<section
  class="mobile-container flex flex-col md:flex-row mt-24 lg:mt-0 gap-4 mb-[100px]"
>
  {# Image #}
  <article class="md:w-1/2">
    <img
      src="{{ asset('./image/achievements/image.svg') }}"
      alt="image achievement"
      class="w-full h-[600px] object-cover"
    />
  </article>

  {# Block content #}
  <article class="md:w-1/2">
    <h2 class="text-3xl mb-4 font-bold tracking-tight text-white">
      Hafo, Partenaire de Votre Innovation Digitale
    </h2>
    <p class="mb-4 text-[#ACACAC] text-base">
      En quête d'une vision digitale unique ? Hafo Web Solutions est à la
      recherche de collaborations stratégiques pour enrichir son portfolio.
      Soyez parmi les premiers à bénéficier d'une expertise pointue et d'une
      attention dédiée pour la concrétisation de votre projet en ligne.
    </p>
    <p class="mb-4 text-[#ACACAC] text-base">
      Nous offrons des solutions personnalisées, adaptées à vos besoins
      spécifiques. Chaque projet est une opportunité d'exceller ensemble,
      alliant technologie de pointe et approche sur mesure.
    </p>
    <p class="mb-10 text-[#ACACAC] text-base">
      Ouvrons ensemble le chapitre numérique de votre succès.
    </p>
    <a
      href="#"
      class="py-4 px-8 text-white font-semibold bg-[#00A3FF] text-base cursor-pointer rounded-lg"
      >Initiez Votre Projet</a
    >
  </article>
</section>
{% endblock achievements %}
