{% block achievements %}
<section class="h-screen">
 <article class="grid grid-cols-2 px-[80px]">

    <div class="">
        <img src="{{ asset('./image/achievements/image.svg') }}" alt="achievement" class="w-full h-full object-cover" />
    </div>

    <div class="p-[35px]">
        <h2 class="text-5xl mb-4 font-bold tracking-tight text-white sm:text-4xl">Hafo, Partenaire de Votre Innovation Digitale</h2>
        <p class=" mb-4 text-[#ACACAC] text-base">En quête d'une vision digitale unique ? Hafo Web Solutions est à la recherche de collaborations stratégiques pour enrichir son portfolio. Soyez parmi les premiers à bénéficier d'une expertise pointue et d'une attention dédiée pour la concrétisation de votre projet en ligne.</p>
        <p class=" mb-4 text-[#ACACAC] text-base"> Nous offrons des solutions personnalisées, adaptées à vos besoins spécifiques. Chaque projet est une opportunité d'exceller ensemble, alliant technologie de pointe et approche sur mesure.</p>
        <p class=" mb-10 text-[#ACACAC] text-base">Ouvrons ensemble le chapitre numérique de votre succès.</p>
        <a class="py-4 px-8 text-white bg-[#00A3FF] cursor-pointer rounded-lg">Initiez Votre Projet</a>
    </div>

 </article>
</section>
{% endblock achievements %}