{% block cta %}
<section class="h-screen w-full flex justify-center items-center">
  <article
    class=" w-[80%] h-[420px] rounded-xl bg-[#191925] flex justify-center items-center overflow-hidden relative"
  >
    <!-- <img
      src="{{ asset('./image/cta/cta.jpg') }}"
      alt="call-to-action"
      class="absolute h-100 object-cover"
    /> -->
    <div class="class z-10 w-[550px] flex flex-col justify-center items-center gap-4">
      <h1 class="text-5xl lg-1500:text-4xl font-bold text-white">Vous avez un projet web ?</h1>
      <p class="text-[#ACACAC] text-center">
        Contactez-nous via notre formulaire de contact, nous reviendrons vers vous dans <span class="text-[#00A3FF]">un délai de 24h.</span>
      </p>
      <a href="#" class="py-3 px-6 bg-[#00A3FF] rounded-md text-white">Nous contacter</a>
      
    </div>
  </article>
</section>
{% endblock cta %}
