{% block cta %}
<div
  class="default-container 2xl:px-[140px]"
  data-sal="slide-up"
  data-sal-duration="800"
  data-sal-delay="150"
>
  <div
    class="default-mt flex flex-col text-center items-center w-full bg-opacityBlue rounded-[10px] py-14 px-8"
  >
    <h3 class="default-h responsive-h3">
      {{ title|default('Vous avez un projet web ?') }}
    </h3>
    <p class="default-p mt-5">
      {{ content|default('Contactez-nous via notre formulaire de contact, nous
      reviendrons vers vous dans
      <span class="text-secondary">un délai de 24h.</span>')|raw }}
    </p>
    <div class="mt-8">
      <a href="{{ path('app_contact') }}">
        <button class="blue-button">
          {{ button|default('Demander un devis') }}
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock cta %}
