{% block cta %}
<div class="container-fluid default-container 2xl:px-[140px]">
  <div
    class="mt-20 lg:mt-[100px] py-[55px] px-[30px] w-full flex flex-col text-center items-center bg-opacityBlue rounded-[10px]"
  >
    <h3
      class="text-[34px] md:text-[38px] font-bold leading[35px] mb-[20px] text-white leading-[1.19]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      Vous avez un projet web ?
    </h3>
    <p
      class="text-grayText mb-8 leading-[28px]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      Contactez-nous via notre formulaire de contact, nous reviendrons vers vous
      dans <span class="text-secondary">un délai de 24h.</span>
    </p>
    <div
      class=""
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="250"
    >
      <button
        class="blue-button"
      >
        Demander un devis
      </button>
    </div>
  </div>
</div>
{% endblock cta %}
