{% block cta %}
<div class="container-fluid 2xl:px-[140px]">
  <div
    class="mt-20 lg:mt-[100px] py-[80px] px-[50px] w-full flex flex-col text-center items-center bg-quaternary rounded-[10px]"
  >
    <h3
      class="text-[26px] lg:text-[45px] leading[35px] mb-4 text-white"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      Vous avez un projet web ?
    </h3>
    <p
      class="text-grayText text-[20px] mb-8"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      Contactez-nous via notre formulaire de contact, nous reviendrons vers vous
      dans <span class="text-secondary">un délai de 24h.</span>
    </p>
    <div
      class=""
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      <button
        class="py-[15px] px-[34px] flex text-white rounded-lg bg-secondary font-medium transition duration-300 ease-in-out hover:bg-tertiary"
      >
        Demander un devis
      </button>
    </div>
  </div>
</div>
{% endblock cta %}
