{% block faq %}
<section class="w-full default-container 2xl:container-fluid 2xl:px-[140px] lg:my-0 {% if style is defined %}{{ style }} {% else %} my-[80px] lg:my-[100px]  {% endif %}">
  <!-- if Variable "isTitle" does not exist. -->
  {% if isTitle is not defined %}
    <h2 class="text-3xl mb-4 font-bold tracking-tight text-white px-0">FAQ</h2>
  {% endif %}

<article class="flex gap-3 flex-col md:flex-row items-center md:items-start w-full">
    <!-- Block Question -->
    <div class=" md:w-1/2 mb-8">
      <p class="text-white text-2xl font-bold mb-2">
        Quels types de services offrez-vous ?
      </p>
      <p class="text-grayText text-base mb-3">
        Nous proposons une gamme complète de services de développement web, y
        compris la création de sites web sur mesure, la refonte de sites
        existants, l'optimisation SEO intégrée par le code, et des services de
        maintenance et de support continus.
      </p>
      <p class="text-white text-2xl font-bold mb-2">
        Combien coûte la création d’un site ?
      </p>
      <p class="text-grayText text-base mb-3">
        Le coût varie selon plusieurs facteurs, y compris la complexité du site,
        les fonctionnalités requises et la stratégie de contenu. Nous
        recommandons une consultation gratuite pour établir un devis
        personnalisé adapté à vos besoins spécifiques.
      </p>
      <p class="text-white text-2xl font-bold mb-2">
        Quel est le délai typique pour un projet ?
      </p>
      <p class="text-grayText text-base mb-6">
        Cela dépend de la complexité, des fonctionnalités requises et des
        retours du client. En général, un projet peut prendre de quelques
        semaines à plusieurs mois. Un calendrier plus détaillé sera discuté
        après avoir évalué vos besoins spécifiques.
      </p>
      <div class="flex flex-col md:flex-row">
        <a
        href="#"
          class="py-4 px-8 text-white text-center bg-secondary hover:bg-tertiary text-base cursor-pointer rounded-lg font-semibold order-last md:order-first"
          >Nous contacter</a
        >
        {% if isSupport is not defined %}
        <a
          href="{{ path('app_support_center') }}" 
          class="py-4 px-8 text-white text-center cursor-pointer text-base rounded-lg font-semibold"
          >Centre de Support</a
        >
        {% endif %}
      </div>
    </div>

    <!-- Block Accordion -->
    <div class="md:w-1/2 lg:px-6" x-data="{ selected: 1 }">
          <ul class="shadow-box">

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full px-4 py-4 text-left"
                @click="selected !== 1 ? selected = 1 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 1, 'text-white text-base': selected !== 1 }"
                  >
                    Comment puis-je suivre l’avancement de mon projet ?
                  </span>
                  <span class="ico-plus">
                    <svg
                    :class="selected === 1 ? 'transform rotate-180' : ''"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    :stroke="selected === 1 ? '#00A3FF' : 'white'"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-up"
                  >
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container1"
                x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-grayText">
                  <p class="text-base">
                    Nous fournissons des mises à jour régulières sur
                    l’avancement du projet à travers des réunions virtuelles et
                    des rapports d’étape envoyés par e-mail. Cela vous permet de
                    rester informé et d’apporter vos commentaires tout au long
                    du projet.
                  </p>
                </div>
              </div>
            </li>

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full  px-4 py-4 text-left"
                @click="selected !== 2 ? selected = 2 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 2, 'text-white text-base': selected !== 2 }"
                  >
                    Comment modifier mon projet en cours de route ?
                  </span>
                  <span class="ico-plus">
                    <span class="ico-plus">
                      <svg
                      :class="selected === 2 ? 'transform rotate-180' : ''"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewbox="0 0 24 24"
                      fill="none"
                      :stroke="selected === 2 ? '#00A3FF' : 'white'"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-chevron-up"
                    >
                      <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container2"
                x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-grayText">
                  <p class="text-base">
                    For reCAPTCHA v3, create a separate key for testing
                    environments. Scores may not be accurate as reCAPTCHA v3
                    relies on seeing real traffic. For reCAPTCHA v2, use the
                    following test keys. You will always get No CAPTCHA and all
                    verification requests will pass.
                  </p>
                </div>
              </div>
            </li>

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full  px-4 py-4 text-left"
                @click="selected !== 3 ? selected = 3 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 3, 'text-white text-base': selected !== 3 }"
                  >
                    Comment vous assurez-vous que le site répond à mes attentes
                    ?
                  </span>
                  <span class="ico-plus">
                    <svg
                    :class="selected === 3 ? 'transform rotate-180' : ''"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    :stroke="selected === 3 ? '#00A3FF' : 'white'"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-up"
                  >
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container3"
                x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-grayText">
                  <p class="text-base">
                    To do this, load the v3 site key as documented, and then
                    explicitly render v2 using grecaptcha.render. You are
                    allowed to hide the badge as long as you include the
                    reCAPTCHA branding visibly in the user flow. Please include
                    the following text:
                  </p>
                </div>
              </div>
            </li>

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full  px-4 py-4 text-left"
                @click="selected !== 4 ? selected = 4 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 4, 'text-white text-base': selected !== 4 }"
                  >
                    Quelles technologies utilisez-vous pour le développement ?
                  </span>
                  <span class="ico-plus">
                    <svg
                    :class="selected === 4 ? 'transform rotate-180' : ''"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    :stroke="selected === 4 ? '#00A3FF' : 'white'"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-up"
                  >
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container4"
                x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-grayText">
                  <p class="text-base">
                    To do this, load the v3 site key as documented, and then
                    explicitly render v2 using grecaptcha.render.
                  </p>
                  <p>
                    You are allowed to hide the badge as long as you include the
                    reCAPTCHA branding visibly in the user flow. Please include
                    the following text:
                  </p>
                </div>
              </div>
            </li>

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full  px-4 py-4 text-left"
                @click="selected !== 5 ? selected = 5 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 5, 'text-white text-base': selected !== 5 }"
                  >
                    La sécurité des données est-elle garantie ?
                  </span>
                  <span class="ico-plus">
                    <svg
                    :class="selected === 5 ? 'transform rotate-180' : ''"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    :stroke="selected === 5 ? '#00A3FF' : 'white'"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-up"
                  >
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container5"
                x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-[#ACACAC]">
                  <p class="text-base">
                    To do this, load the v3 site key as documented, and then
                    explicitly render v2 using grecaptcha.render. You are
                    allowed to hide the badge as long as you include the
                    reCAPTCHA branding visibly in the user flow. Please include
                    the following text:
                  </p>
                </div>
              </div>
            </li>

            <li class="relative bg-quaternary rounded-md mb-2">
              <button
                type="button"
                class="w-full  px-4 py-4 text-left"
                @click="selected !== 6 ? selected = 6 : selected = null"
              >
                <div class="flex items-center justify-between">
                  <span
                    :class="{ 'text-secondary text-base': selected === 6, 'text-base text-white lg-1500:text-base': selected !== 6 }"
                  >
                    Offrez-vous des formations pour l’autogestion du site ?
                  </span>
                  <span class="ico-plus">
                    <svg
                    :class="selected === 6 ? 'transform rotate-180' : ''"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    :stroke="selected === 6 ? '#00A3FF' : 'white'"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-up"
                  >
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg>
                  </span>
                </div>
              </button>
              <div
                class="relative overflow-hidden transition-all max-h-0 duration-700"
                x-ref="container6"
                x-bind:style="selected == 6 ? 'max-height: ' + $refs.container6.scrollHeight + 'px' : ''"
              >
                <div class="p-6 text-grayText">
                  <p class="text-base">
                    To do this, load the v3 site key as documented, and then
                    explicitly render v2 using grecaptcha.render. You are
                    allowed to hide the badge as long as you include the
                    reCAPTCHA branding visibly in the user flow. Please include
                    the following text:
                  </p>
                </div>
              </div>
            </li>

          </ul>
    </div>
</article>
</section>
{% endblock faq %}
