{% block faq %}
<section class="px-[80px]">
<h1 class="text-5xl mb-4 font-bold tracking-tight text-white sm:text-4xl px-8">FAQ</h1>
<div class="grid grid-cols-1 lg:grid-cols-6">
<div class="col-span-3 px-8">
    <p class="text-white text-2xl font-bold mb-2">Quels types de services offrez-vous ?</p>
    <p class="text-[#ACACAC] text-lg mb-3">Nous proposons une gamme complète de services de développement web, y compris la création de sites web sur mesure, la refonte de sites existants, l'optimisation SEO intégrée par le code, et des services de maintenance et de support continus.</p>
    <p class="text-white text-2xl font-bold mb-2">Combien coûte la création d’un site ?</p>
    <p class="text-[#ACACAC] text-lg mb-3">Le coût varie selon plusieurs facteurs, y compris la complexité du site, les fonctionnalités requises et la stratégie de contenu. Nous recommandons une consultation gratuite pour établir un devis personnalisé adapté à vos besoins spécifiques.</p>
    <p class="text-white text-2xl font-bold mb-2">Quel est le délai typique pour un projet ?</p>
    <p class="text-[#ACACAC] text-lg mb-6">Cela dépend de la complexité, des fonctionnalités requises et des retours du client. En général, un projet peut prendre de quelques semaines à plusieurs mois. Un calendrier plus détaillé sera discuté après avoir évalué vos besoins spécifiques.</p>
    <div class="flex">
        <a class="py-4 px-8 text-white bg-[#00A3FF] cursor-pointer rounded-lg font-bold">Nous contacter</a>
        <a class="py-4 px-8 text-white cursor-pointer rounded-lg font-bold">Centre de Support</a>
    </div>
</div>

<div class="col-span-3 px-8">

        <div class="col-span-4">
            <div class="max-w-xl mx-auto " x-data="{selected:1}">
              <ul class="shadow-box">
        
                <li class="relative bg-[#191925] rounded-md mb-2">
        
                  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
                    <div class="flex items-center justify-between">
                      <span class="text-white">
                        Should I use reCAPTCHA v2 or v3? </span>
                      <span class="ico-plus"></span>
                    </div>
                  </button>
        
                  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                    <div class="p-6 text-white">
                      <p>reCAPTCHA v2 is not going away! We will continue to fully support and improve security and usability for v2.</p>
                      <p>reCAPTCHA v3 is intended for power users, site owners that want more data about their traffic, and for use cases in which it is not appropriate to show a challenge to the user.</p>
                      <p>For example, a registration page might still use reCAPTCHA v2 for a higher-friction challenge, whereas more common actions like sign-in, searches, comments, or voting might use reCAPTCHA v3. To see more details, see the reCAPTCHA v3 developer guide.</p>
                    </div>
                  </div>
        
                </li>
        
                <li class="relative bg-[#191925] rounded-md mb-2">
        
                  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
                    <div class="flex items-center justify-between">
                      <span class="text-white">
                        I'd like to run automated tests with reCAPTCHA. What should I do? </span>
                      <span class="ico-plus"></span>
                    </div>
                  </button>
        
                  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container2" x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
                    <div class="p-6 text-white">
                      <p>For reCAPTCHA v3, create a separate key for testing environments. Scores may not be accurate as reCAPTCHA v3 relies on seeing real traffic.</p>
                      <p>For reCAPTCHA v2, use the following test keys. You will always get No CAPTCHA and all verification requests will pass.</p>
                    </div>
                  </div>
        
                </li>
        
                <li class="relative bg-[#191925] rounded-md mb-2">
        
                  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 3 ? selected = 3 : selected = null">
                    <div class="flex items-center justify-between">
                      <span class="text-white">
                        Can I run reCAPTCHA v2 and v3 on the same page? </span>
                      <span class="ico-plus"></span>
                    </div>
                  </button>
        
                  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container3" x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''">
                    <div class="p-6 text-white">
                      <p>To do this, load the v3 site key as documented, and then explicitly render v2 using grecaptcha.render.</p>
                      <p>You are allowed to hide the badge as long as you include the reCAPTCHA branding visibly in the user flow. Please include the following text:</p>
                      <p>Yes, please use "www.recaptcha.net" in your code in circumstances when "www.google.com" is not accessible.</p>
                      <ul>
                        <li>First, replace &lt;script src="https://www.google.com/recaptcha/api.js" async defer&gt;&lt;/script&gt; with &lt;script src="https://www.recaptcha.net/recaptcha/api.js" async defer&gt;&lt;/script&gt;</li>
                        <li>After that, apply the same to everywhere else that uses "www.google.com/recaptcha/" on your site.</li>
                      </ul>
                      <p>After that, apply the same to everywhere else that uses "www.google.com/recaptcha/" on your site.</p>
                    </div>
                  </div>
        
                </li>
        
              </ul>
            </div>
        </div>

</div>


</div>



</section>

<script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script src="https://unpkg.com/alpinejs" defer></script>
{% endblock faq %}