{% block projects %}
<section
  class="default-container flex flex-col md:flex-row mt-24 lg:mt-0 gap-4 mb-[100px]"
>
  <!-- Block content -->
  <article class="md:w-1/2 md:px-2">
    <h2 class="text-3xl mb-5 font-bold tracking-tight text-white md:w-[350px]">
      Nos Réalisations
    </h2>
    <!-- Text -->
    <div id="text"></div>

    <!-- Buttons -->
    <div class="flex items-center gap-3 mt-14">
      <button
        id="prevProject"
        class="bg-tertiary text-secondary p-2 rounded"
      >
        <img
          src="{{ asset('./image/blog/arrow.svg') }}"
          alt="icon Définir vos objectifs"
          class="w-full"
        />
      </button>
      <button
        id="nextProject"
        class="bg-tertiary text-secondary p-2 rounded"
      >
        <img
          src="{{ asset('./image/blog/arrow.svg') }}"
          alt="icon Définir vos objectifs"
          class="w-full rotate-180"
        />
      </button>
    </div>
  </article>

  <!-- Image -->
  <article id="image" class="md:w-1/2 sm:px-2"></article>
</section>

<!-- add script to project.js -->
{% block javascripts %}
{{
  encore_entry_script_tags("project")
}}
{% endblock %}
{% endblock projects %}
